.well-architect-dashboard {
    height: inherit;
    overflow: auto;
    background-color: var(--main-background);
    width: 100%;
    padding: 0 44px 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .breadCrumb {
        display: flex;
        justify-content: space-between;
        width: 100%;

        [class*='BreadCrumbs_bread-crumbs'] {
            position: relative;
            top: -3px;
        }
        [class*='bread-crumbs'] {
            [class*='bread-crumbs-item'] {
                margin-left: 0;
            }
        }
    }

    .rightSection {
        display: flex;
        gap: 24px;

        .buttonContainer {
            position: relative;
            top: 3px;
        }
        .refreshIcon {
            cursor: pointer;
            svg {
                --icon-primary-color: var(--button-secondary);
                width: 20px;
                height: 20px;
                margin-top: 5px;
            }
        }
    }

    .well-architect-tabs-content {
        width: 100%;

        .databaseListTable {
            width: 100%;
            margin: 0 auto;
        }
    }
}

[class*='ButtonWithDropdown-module_dropdown-container'] {
    z-index: 2 !important;

    [class*='Button-module_content'] {
        text-transform: unset !important;
    }
}

.tempClass {
    padding: 0 120px !important;
}
