.well-architect-tabs {
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 48px;

    border-bottom: 1px solid var(--grey-30);
    display: flex;
    gap: 4px;
    width: 87.3%;

    .headers {
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        padding-bottom: 12px;
        gap: 8px;

        .tag {
            width: 50px;
            height: 20px;
            border-radius: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background-color: var(--table-header-background);
            color: var(--tag-3-text) !important;
            font-weight: 500;
        }
    }

    .headerWidthFirst {
        width: 170px;
    }

    .headerWidthSecond {
        width: 252px;
    }

    .headerWidthThird {
        width: 172px;
    }

    .headerPart1 {
        color: var(--text-primary);
        display: flex;
        justify-content: center;
        cursor: pointer;
    }

    .headerDisabled {
        color: var(--text-disabled);
        cursor: not-allowed;
    }

    .active {
        border-bottom: 2px solid var(--text-button-primary);
    }

    .activeText {
        color: var(--text-button-primary);
    }
}
