.optimizeComponent {
    display: flex;
    gap: 16px;

    .rightSection {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 400px;

        .topSection {
            display: flex;
            justify-content: space-between;
            height: 32px;

            .optimizeText {
                display: flex;
                gap: 6px;
            }
        }

        .bottomTextSection {
            display: flex;
            gap: 8px;
        }
    }
}
