.fsx {
    .handleRadio {
        display: flex;
        gap: 32px;
    }

    .firstContainer {
        margin-top: 16px;
    }

    .textField {
        width: 396px;
    }

    .textFieldPassword {
        width: 312px;
        height: 66px;
    }

    .secondContainer {
        display: flex;
        gap: 24px;
        margin-top: 40px;
    }
}
