@use './../colors';
@use './../mixins';

.base {
    box-shadow: 2px 2px 6px 0 var(--drop-shadow);
    background-color: var(--content-background);

    @include mixins.standard-scroll($width: 11px);

    &.flex {
        display: flex;
        flex-direction: column;
    }
}

.card-group {
    box-shadow: 2px 2px 6px 0 var(--drop-shadow);

    .base {
        box-shadow: none;

        &:not(:last-child) {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom: 1px solid var(--border);
        }

        &:not(:first-child) {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }

    .has-hover-effect:hover {
        position: relative;
        border-bottom: none;
    }
}

.selectable {
    cursor: pointer;
    width: 100%;
}

.selectable.disabled {
    cursor: not-allowed;
}

.selectable:hover {
    position: relative;

    .check {
        display: block;
    }
}

.selectable.selected:not(.disabled) {
    .check {
        display: block;
    }
}

.selected {
    position: relative;

    &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid var(--button-secondary);
        content: '';
        display: block;
        border-radius: 2px;
        pointer-events: none;
    }
}

.check {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    z-index: 1;

    display: none;
}

.has-hover-effect:hover {
    background-color: var(--hover-background);
}

.selected-icon {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    z-index: 1;
}

.header {
    border-radius: 2px;
    z-index: 1;
    display: flex;
    align-items: center;
    overflow: hidden;

    height: 72px;
    flex-shrink: 0;
    padding: 0 40px;
    border-bottom: 1px solid var(--border);

    > svg:first-child {
        margin-right: 16px;
        flex-shrink: 0;
    }
}

.content.default {
    padding: 32px 40px;
}

.content.small {
    padding: 24px 40px;
}

.table-content {
    padding: 8px 40px;
    display: grid;

    > div {
        padding: 16px 0;
        font-size: 14px;
        color: var(--text-primary);
        line-height: 1.57;
    }

    @for $i from 1 through 6 {
        &.lg-#{$i} {
            grid-template-columns: repeat($i, minmax(0, 1fr));

            > div {
                &:not(:nth-child(#{$i}n + 1)) {
                    &:before {
                        content: '';
                        float: left;
                        height: 100%;
                        padding-right: 24px;
                        // border-left: 1px solid var(--border);
                    }
                }
            }
        }

        @include mixins.medium {
            &.md-#{$i} {
                grid-template-columns: repeat($i, 1fr);

                > div {
                    &:not(:nth-child(#{$i}n + 1)) {
                        &:before {
                            content: '';
                            float: left;
                            height: 100%;
                            padding-right: 16px;
                            // border-left: 1px solid var(--border);
                        }
                    }
                }
            }
        }

        @include mixins.medium {
            &.sm-#{$i} {
                grid-template-columns: repeat($i, 1fr);

                > div {
                    &:not(:nth-child(#{$i}n + 1)) {
                        &:before {
                            content: '';
                            float: left;
                            height: 100%;
                            padding-right: 16px;
                            // border-left: 1px solid var(--border);
                        }
                    }
                }
            }
        }
    }
}

.title {
    color: var(--text-title);
    font-size: 16px;
    line-height: 28px;
    @include mixins.text-ellipsis();
    margin-right: 8px;

    .sub-header {
        line-height: 1.57;
        font-size: 14px;
        color: var(--text-primary);
        padding-top: 1px;

        @include mixins.text-ellipsis();
        margin-right: 8px;

        > div {
            @include mixins.text-ellipsis();
            margin-right: 8px;
        }

        span {
            color: var(--text-primary);
        }
    }
}

.table-item {
    > :first-child {
        margin-bottom: 6px;
        font-weight: 500;
    }

    > div:first-child:not([class]):not([style]) {
        padding-right: 24px;
    }

    > div:not([class]):not([style]) {
        color: var(--text-primary);
    }
}

.cardWidgets {
    margin: 0 0 0 auto;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-column-gap: 24px;
    align-items: center;
}

.cardMetricContent {
    padding: 32px 40px 24px 40px;

    > :first-child {
        margin-bottom: 24px;
        padding-bottom: 24px;
        border-bottom: 1px solid var(--border);
    }
}

.cardContentLoading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}
