.dialogContent {
    .storage-tier-block {
        display: flex;
        flex-direction: column;
        gap: 32px;

        .widthSet {
            width: 384px;
        }

        .first-section {
            display: flex;
            flex-direction: column;
            gap: 8px;
            max-width: 712px;

            .content {
                display: flex;
                flex-direction: column;
                gap: 8px;

                .row {
                    display: flex;
                    gap: 16px;
                }
            }

            .dialog-body {
                margin-top: 8px;
                margin-bottom: 8px;
                .code-box {
                    max-width: 710px;
                    background-color: var(--main-background);
                    padding: 24px 16px 8px 32px;
                    display: flex;
                    position: relative;
                    overflow-y: auto;

                    .code {
                        width: 100%;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 24px;
                        color: var(--text-primary);
                        margin-bottom: 16px;
                    }

                    .copy {
                        position: absolute;
                        right: 16px;
                        top: 16px;

                        svg {
                            cursor: pointer;
                            &:hover {
                                fill: var(--icon-primary);
                            }
                            path {
                                fill: var(--icon-secondary);
                            }
                        }
                    }
                }
            }
        }

        .instanceTypeContainer {
            display: flex;
            flex-direction: column;
        }
    }
}

[class*='Dialog-module_modal'] {
    max-height: 92% !important;
    height: 92% !important;
    background-color: unset !important;
}

// [class*='DialogLayout-module_dialog-content'] {
//     max-height: 616px !important;
// }
