.well-architected-tab {
    padding: 0 40px;

    .section {
        display: flex;
        gap: 24px;
        justify-content: center;
        width: 100%;

        .subSection {
            display: flex;
            flex-direction: column;
            gap: 24px;
            width: 50%;
        }
    }

    .tableSection {
        margin-top: 24px;
    }
}
