.informationPane {
    background-color: var(--white);
    width: 411px;
    display: flex;
    flex-direction: column;
    height: 686px;
    box-shadow: 2px 2px 6px 0px var(--grey-15);
    padding: 32px 40px 40px 40px;

    .informationTitle {
        height: 40px;
        padding-top: 8px;
        border-bottom: 2px solid var(--grey-15);

        .informationTitleText {
            color: var(--blue-70);
        }
    }

    .titleTag {
        height: 56px;
        padding: 16px;
        background-color: var(--grey-15);
        margin-top: 16px;
    }

    .informationContainer {
        display: flex;
        flex-direction: column;

        .infoItemContainer {
            display: flex;
            flex-direction: row;
            height: 40px;
            margin-top: 12px;
            padding-bottom: 12px;
            border-bottom: 1px solid var(--grey-15);

            .copyContainer {
                margin-left: auto;
            }
        }
    }
}
