.replicaDialog {
    display: flex;
    flex-direction: column;
    width: 100%;

    .topSection {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .successMessage {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        .errorMessage {
            display: flex;
            align-items: flex-start;
            gap: 8px;

            svg {
                display: flex;
                width: 24px;
                height: 24px;
                justify-content: center;
                align-items: center;
                margin-top: 2px;
                flex-shrink: 0;
            }
        }

        .description {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        .radioGroupFailed {
            background-color: var(--hover-background);
            padding: 16px 24px;
            flex-direction: column;
            display: flex;
            gap: 16px;
        }

        .radioGroup {
            background-color: var(--hover-background);
            padding: 16px 40px;
            display: flex;
            gap: 32px;
        }
    }

    .tableSection {
        .agContainer {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 12px 0 16px 0;

            .agName {
                .agNamePopOver {
                    justify-content: space-between;
                    padding: 8px 0px !important;
                }

                .agNameText {
                    max-width: 160px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    display: inline-block;
                    vertical-align: bottom;
                }
            }
        }

        [class*='TableTopBar-module_base'] {
            background-color: unset !important;
            box-shadow: unset !important;
            top: -40px !important;
        }

        [class*='header-cell'] {
            top: -40px !important;
        }

        .authStatus {
            display: flex;
            align-items: center;
            gap: 16px;

            svg {
                flex-shrink: 0;
            }
        }
    }
}
