.chatbot-header {
    height: 60px;
    width: 100%;
    box-shadow: 0px -1px 0px 0px var(--drop-shadow) inset;
    background-color: var(--content-background);
    display: flex;
    flex-direction: row;
    padding: 16px 40px 16px 40px;

    .preview-tag {
        margin-left: auto;
        width: 75px;
        height: 24px;
        padding: 2px 12px 2px 12px;
        border-radius: 24px;
        background-color: var(--tag-2-bg);
    }
}
