.taskTable {

    .taskRow {
        display: flex;
        margin-bottom: 1px;
    }

    .firstItem {
        height: 72px;
        width: 286px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--blue-10);
        
    }

    .secondItem {
        height: 72px;
        width: 498px;
        display: flex;
        align-items: center;
        padding-left: 24px;
        background-color: var(--blue-10);
    }

    .thirdItem {
        height: 72px;
        width: 180px;
        display: flex;
        align-items: center;
        padding-left: 24px;
        background-color: var(--blue-10);
        gap: 16px;
        .statusIcon {
            width: 20px;
            height: 20px;
        }
        .popover {
            display: flex;
            max-width: 400px;
            padding: 8px 12px;
            align-items: flex-start;
            gap: 10px;
            border-radius: 4px;
            background: var(--Light-Tooltip-tooltip-info-bg, #FFF);
            box-shadow: 4px 4px 12px 0px var(--grey-15);
        }
    }

    .fourthItem {
        height: 72px;
        width: 240px;
        display: flex;
        align-items: center;
        padding-left: 24px;
        background-color: var(--blue-10);
    }

    .fifthItem {
        height: 72px;
        width: 296px;
        display: flex;
        align-items: center;
        padding-left: 24px;
        background-color: var(--blue-10);
    }
}
