.inventoryTabs {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 120px;
    width: 1607px;
    height: 56px;
    border-bottom: 1px solid #a7a7a7;
    display: flex;
    gap: 4px;

    .headers {
        width: 240px;
        padding-top: 16px;
        background-color: var(--content-background);
        box-shadow: 2px 2px 6px 0px #e0e0e0;
        gap: 14px;
    }

    .headerPart1 {
        color: var(--text-primary);
        display: flex;
        justify-content: center;
        cursor: pointer;
    }

    .headerPart2 {
        color: var(--text-primary);
        display: flex;
        justify-content: center;
        cursor: pointer;
    }

    .headerPart3 {
        color: var(--text-primary);
        display: flex;
        justify-content: center;
        cursor: pointer;
    }

    .active {
        border-bottom: 2px solid var(--text-button-primary);
    }

    .activeText {
        color: var(--text-button-primary);
    }
}

.inventoryTabDynamicWidth {
    width: 84%;
}
