@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.base {
    width: 88px;
    height: 88px;
    transform: translate(-50%, -50%);
    position: fixed;
    top: 45%;
    left: 50%;

    svg {
        animation: rotate 2s linear infinite;
        transform-origin: center center;
        width: 110%;
        height: 110%;
        position: relative;
        top: -2px;
        left: -2px;
    }

    circle {
        stroke-dasharray: 150, 200;
        stroke-dashoffset: -10;
        animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
        stroke-linecap: round;
        stroke: var(--loader-wheel-line);
    }
}
