.manage-instance-step {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .textSection {
        width: 1030px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
