.deployment-tabs {
    display: flex;
    flex-direction: row;
    width: 1063px;
    .single-tab {
        width: calc(50%);
        border-bottom: 1px solid var(--grey-30);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding-bottom: 8px;
        cursor: pointer;

        .darkModeWizardSelected {
            svg {
                path {
                    fill: var(--text-button-light);
                }
            }
        }

        .darkModeChatbotSelected {
            svg {
                path {
                    fill: var(--icon-tertiary);
                }
            }
        }
    }
    .selected-tab {
        color: var(--blue-70);
        border-bottom: 3px solid var(--button-primary-bg);
    }

    .selected-tab-dark-theme {
        border-bottom: 3px solid var(--button-secondary);
    }

    .wizardUnselect {
        svg {
            path {
                fill: var(--grey-30);
            }
        }
    }
}
