.manualTCOFSX {
    margin-top: 20px;

    .fieldContainer {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        .rowContainer {
            display: flex;
            gap: 24px;
            .deploymentModelWidth {
                width: 276px;
            }

            .storageCapacityField {
                display: flex;

                .SCWidth {
                    width: 184px;

                    input {
                        border-top-right-radius: 0 !important;
                        border-bottom-right-radius: 0 !important;
                    }
                }

                .SCUnitWidth {
                    width: 92px;

                    label {
                        visibility: hidden !important;
                    }

                    [class*='design-system-select__control'] {
                        border-left: none !important;
                        border-top-left-radius: 0 !important;
                        border-bottom-left-radius: 0 !important;
                    }
                }

                [class*='FieldErrorWarning-module_base'] {
                    width: 286px !important;
                }
            }
        }
    }
}
