.resourcePage {
    height: 90vh;
    width: 100vw;
    background-color: var(--main-background);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .breadCrumb {
        margin-top: 16px;

        width: 1687px;
        display: flex;
        justify-content: space-between;

        [class*='BreadCrumbs_bread-crumbs'] {
            position: relative;
            top: -3px;
        }

        button {
            height: 32px !important;
        }
    }

    .hostTitle {
        margin-top: 40px;
    }

    .secondLevel {
        margin-top: 40px;
    }
}
::-webkit-scrollbar {
    height: 6px;
}
