.resourcePage {
    height: 97vh;
    width: 100%;
    background-color: var(--main-background);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .breadCrumb {
        margin-top: 16px;
        max-width: 1687px;
        width: 90.86%;
        display: flex;
        justify-content: space-between;

        [class*='BreadCrumbs_bread-crumbs'] {
            position: relative;
            top: -3px;
        }

        button {
            height: 32px !important;
        }
    }

    .refresh {
        display: flex;
        gap: 16px;

        .refreshIcon {
            cursor: pointer;
            svg {
                --icon-primary-color: var(--button-secondary);
                width: 20px;
                height: 20px;
                margin-top: 5px;
            }
        }

        .date {
            position: relative;
            top: 2px;
        }
    }

    .rightSection {
        display: flex;
        gap: 24px;
        margin-right: 32px;
    }

    .hostTitle {
        margin-top: 40px;
        width: 87%;
        max-width: 1607px;
    }

    .secondLevel {
        margin-top: 40px;
        width: 87%;
        max-width: 1607px;
    }
}
::-webkit-scrollbar {
    height: 6px;
}
