.storagePerf {
    padding: 0 40px;
    margin-top: 32px;

    .computeTable {
        width: 848px;
        // height: 310px;
        background-color: var(--main-background);
        padding: 16px 40px;
        display: flex;
        flex-direction: column;
        gap: 22px;

        .row1 {
            display: grid;
            grid-template-columns: 1fr 1.5fr 1.5fr 1.5fr;
            gap: 24px;

            .col1 {
                grid-column: 1;
            }

            .col2 {
                grid-column: 2;
            }

            .col3 {
                grid-column: 3;
            }

            .col4 {
                grid-column: 4;
            }
        }
    }
}
