.replica {
    position: sticky;
    left: 0;

    padding: 0 40px 40px 40px;

    [class*='TableTopBar-module_base'] {
        background-color: unset !important;
        box-shadow: unset !important;
    }

    .firstColText {
        display: flex;
        gap: 8px;
        align-items: center;

        .statusIcon {
            width: 10px;
            height: 10px;
            align-self: center;
            &.circle {
                border-radius: 50%;
                // margin-top: 2px;
            }
            &.online {
                background-color: var(--green-60);
            }
            &.offline {
                background-color: var(--red-30);
            }
            &.unknown {
                background-color: var(--grey-25);
            }
        }
    }

    [class*='body'] {
        [class*='cell'] {
            background-color: var(--main-background) !important;
            color: var(--text-primary) !important;
            border-left: none !important;
        }
    }

    [class*='_table'] {
        [class*='_body'] {
            [class*='_row'] {
                > span:nth-last-of-type(2) {
                    border-left: none !important;
                }
            }
        }
    }
}
