.costSavings {
    height: 105px;
    background-color: var(--content-background);
    box-shadow: 2px 2px 6px 0px var(--border);
    width: 100%;
    padding: 24px 0 0 40px;
    display: flex;

    .leftSide {
        display: flex;
        gap: 16px;

        .setImage {
            position: relative;
            top: 2.5px;
        }

        .textContent {
            display: flex;
            flex-direction: column;
            width: 192px;
            .dollar {
                position: relative;
                top: 7px;
            }
            .dollarHeight {
                margin-bottom: 6px;
            }
            .topValue {
                display: flex;
                gap: 4px;
            }
        }

        .changeWidth {
            width: 85px;
        }
    }

    .separator {
        margin-left: 32px;
        height: 40px;
        border-left: 1px solid var(--border);
        position: relative;
        top: 8px;
    }

    .separatorNewWidth {
        margin-left: 24px;
    }

    .rightSide {
        display: flex;
        flex-direction: column;
        margin-left: 40px;

        .firstRow {
            display: flex;
            gap: 4px;
            .dollar {
                position: relative;
                top: 7px;
            }

            .dollarHeight {
                margin-bottom: 6px;
            }
        }
    }

    .costZeroCase {
        display: flex;
        gap: 8px;
        margin-left: 24px;
        position: relative;
        top: 5px;
        svg {
            width: 21px;
            height: 21px;
            position: relative;
            top: 3px;
            path {
                fill: #518bec;
            }
        }
    }

    .costZeroCaseSmallRes {
        display: flex;
        gap: 8px;
        margin-left: 9px;
        position: relative;
        height: 20px;
        top: 16px;
        svg {
            width: 21px;
            height: 21px;
            position: relative;
            top: 3px;
            path {
                fill: #518bec;
            }
        }

        .smallResolutionMessage {
            max-width: 180px;
            overflow: hidden;

            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .bottomValue {
        display: flex;
        gap: 8px;
    }
}

@media screen and (max-width: 1500px) {
    .costSavings {
        width: 100%;

        .leftSide {
            .textContent {
                width: 165px;
            }

            .changeWidth {
                width: 95px;
            }
        }

        .separator {
            margin-left: 8px;
        }

        .rightSide {
            margin-left: 20px;

            .bottomValue {
                gap: 5px;
            }
        }
    }
}
