.tableWrapper {
    width: 100%;
    min-width: 420px;
    max-height: 380px;
    display: flex;
    flex-direction: column;
    --table-top-fixed: 0px;

    [class*='Table-module_innerTable'] {
        display: flex;
        flex-direction: column;
        flex: 1;
        min-height: 0;
        overflow: hidden;
    }

    [class*='Table-module_table'] {
        flex: 1;
        min-height: 0;
        overflow-y: auto;
        overflow-x: hidden;
    }

    ::-webkit-scrollbar {
        width: 6px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--border-scroller);
        border-radius: 3px;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    .loaderRow {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 120px;
        padding: 16px 8px;
    }

    .cellWrapper {
        display: block;
        max-width: 300px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .multiLineCellItem {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
    }

    .lunPathCellContainer {
        display: flex;
        align-items: center;
        gap: 20px;

        .copyIcon {
            cursor: pointer;
            flex-shrink: 0;
            width: 16px;
            height: 16px;
            fill: var(--text-secondary);
        }
    }
}
