.tableWrapper {
    width: 100%;
    min-width: 420px;

    .loaderRow {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 120px;
        padding: 16px 8px;
    }

    .cellWrapper {
        display: block;
        max-width: 300px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .multiLineCellItem {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
    }

    .lunPathCellContainer {
        display: flex;
        align-items: center;
        gap: 20px;

        .copyIcon {
            cursor: pointer;
            flex-shrink: 0;
            width: 16px;
            height: 16px;
            fill: var(--text-secondary);
        }
    }
}
