.container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .headerArea {
        display: flex;
        gap: 8px;

        .loadingClass {
            display: flex;
            position: relative;
            top: 8px;
        }

        .loadingClassSmall {
            display: flex;
            position: relative;
            top: 1px;
        }
    }

    .valueText {
        font-size: 14px;
    }
    .bottomRow {
        display: flex;
        align-items: center;
        gap: 8px;

        .square {
            width: 12px;
            height: 12px;
        }
    }
}
