.container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .valueText {
        font-size: 14px;
    }
    .bottomRow {
        display: flex;
        align-items: center;
        gap: 8px;

        .square {
            width: 12px;
            height: 12px;
        }
    }
}
