.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-width: 0;
    flex: 1 1 0;
    overflow: hidden;
    padding-right: 8px;

    .headerArea {
        display: flex;
        gap: 8px;

        .loadingClass {
            display: flex;
            position: relative;
            top: 8px;
        }

        .loadingClassSmall {
            display: flex;
            position: relative;
            top: 1px;
        }
    }

    .valueText {
        font-size: 14px;
    }

    .bottomRow {
        display: flex;
        align-items: center;
        gap: 8px;
        min-width: 0;
        overflow: hidden;

        .square {
            width: 12px;
            height: 12px;
            flex-shrink: 0;
        }

        .labelText {
            font-size: 14px;
            font-weight: 400;
            line-height: unset;
            padding-right: 8px;
        }
    }
}
