.databaseDistribution {
    background-color: var(--content-background);
    width: 520px;
    height: 500px;

    .headSection {
        display: flex;
        height: 72px;
        padding: 12px 40px;
        align-items: center;
        border-bottom: 1px solid var(--border);
        justify-content: space-between;
    }

    .mainSection {
        padding: 40px;

        .tile {
            display: flex;
            gap: 40px;
            align-items: center;
            margin-bottom: 36px;

            .leftSection {
                display: flex;
                gap: 16px;
                align-items: center;
            }

            .valueSection {
                display: flex;
                flex-direction: column;

                .loadingSection {
                    display: flex;
                    align-items: center;
                    height: 36px;
                }
            }
        }

        .barContainer {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 44px;
        }
    }
}

@media screen and (max-width: 1700px) {
    .databaseDistribution {
        width: 426px;

        .mainSection {
            .tile {
                gap: 15px !important;
            }

            [class*='_rightSection'] {
                width: 344px !important;
            }
        }
    }
}
