.sandboxHeader {
    background-color: var(--content-background);
    height: 223px;
    width: 1607px;
    margin-top: 40px;
    margin-left: 120px;
    box-shadow: 2px 2px 6px 0px #e0e0e0;
    padding: 32px 40px 32px 56px;
    display: flex;
    gap: 72px;

    .imageHolder {
        width: 318px;
        height: 159px;
    }

    .contentHolder {
        width: 830px;
        height: 159px;
    }

    .buttonHolder {
        width: 188px;
        height: 159px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        justify-content: center;
    }
}

.sandboxHeaderLowerResolution {
    background-color: var(--content-background);
    box-shadow: 2px 2px 6px 0px #e0e0e0;
    padding: 32px 40px 32px 56px;
    width: 1127px;
    height: 260px;
    margin-top: 40px;
    margin-left: 120px;
    display: flex;
    gap: 72px;

    .imageHolder {
        width: 318px;
        height: 159px;
    }

    .secondLevel {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .contentHolder {
            width: 623px;
            height: 140px;
        }

        .buttonHolder {
            display: flex;

            gap: 24px;
        }
    }
}
