.bubbles-container {
    width: 100%;
    display: inline-block;
    margin: -50px 0 0 100px;

    .bubble-item {
        float: left;
        border: 1px solid var(--button-secondary);
        border-radius: 24px;
        color: var(--button-secondary);
        width: fit-content;
        padding: 10px 16px 10px 16px;
        margin: 8px;
        transition: 0.3s;

        .bubble-label {
            color: var(--button-secondary-hover);
        }
    }

    .bubble-item:hover {
        cursor: pointer;
        background-color: var(--hover-background);
    }

    .bubble-item-dark-mode {
        color: var(---button-secondary);
        border: 1px solid var(--button-secondary);

        .bubble-item-dark-mode-label {
            color: var(--button-secondary);
        }
    }

    .bubble-item-dark-mode:hover {
        cursor: pointer;
        background-color: var(--hover-background);
        color: var(--button-secondary-hover);

        .bubble-item-dark-mode-label {
            color: var(--button-secondary-hover);
        }
    }
}
