.sandboxType {
    box-shadow: 2px 2px 6px var(--grey-15);
    height: 376px;
    width: 66.12%;

    background-color: var(--content-background);

    .progressStyle {
        max-width: 384px;
        [class*='ProgressBar_Suc-progressbar'] {
            height: 12px !important;
        }
    }

    .headSection {
        display: flex;
        height: 72px;
        padding: 12px 40px;
        align-items: center;
        border-bottom: 1px solid var(--border);
        justify-content: space-between;
    }

    .mainSection {
        padding: 36px 40px;
        display: flex;
        gap: 56px;

        .leftSide {
            display: flex;
            flex-direction: column;
            gap: 32px;
            width: 47.6%;
        }

        .rightSide {
            display: flex;
            flex-direction: column;
            gap: 32px;
            width: 47.6%;
        }

        .singleSection {
            display: flex;
            gap: 24px;

            .valueSection {
                display: flex;
                flex-direction: column;
                gap: 14px;
                width: 82.75%;
                max-width: 384px;

                .topRow {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .value {
                        line-height: unset;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1428px) {
    .sandboxType {
        width: 66%;

        .mainSection {
            gap: 40px !important;
            .singleSection {
                gap: 16px;
                svg {
                    width: 26.57px;
                    height: 26.57px;
                }
                .QASvg {
                    svg {
                        width: 48px;
                        height: 48px;
                    }
                }
                .valueSection {
                    width: 200px !important;
                    gap: 8px;
                }
            }
        }

        .progressStyle {
            width: 200px;
        }
    }
}

@media screen and (min-width: 1920px) {
    .sandboxType {
        max-width: unset;

        .mainSection {
            .valueSection {
                max-width: unset !important;

                .progressStyle {
                    max-width: unset !important;
                }
            }
        }
    }
}
