.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 637px;
    height: 100%;
    background-color: #111925;
    transition: right 0.3s rase-in-out;

    .topBar {
        height: 60px;
        background-color: #2b323d;
        display: flex;
        padding: 16px 40px;
        justify-content: space-between;

        .rightSection {
            display: flex;
            gap: 8px;
            align-items: center;
        }
    }

    .colorAutomation {
        color: var(--white);
    }

    .color {
        color: #84b0ff;
    }
}

.open {
    right: 0;
    width: 100%;
}
