.sidebar {
    position: fixed;
    top: 126px;
    right: 0;
    z-index: 2;
    width: 638px;
    height: 100%;
    background-color: var(--grey-70);
    transition: right 0.3s rase-in-out;

    .loading {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        position: relative;
        top: 22vh;
        color: var(--white);
    }

    .accordionMainContainer {
        // max-height: 770px;
        max-height: calc(100% - 226px);
        overflow-y: auto;
        width: calc(100% - 16px);
        margin-top: 40px;
        // padding-bottom: 40px;
    }

    .topBar {
        height: 60px;
        background-color: var(--grey-65);
        display: flex;
        padding: 16px 40px;
        justify-content: space-between;

        .rightSection {
            display: flex;
            gap: 8px;
            align-items: center;
        }
    }

    .title {
        display: flex;
        gap: 8px;

        svg {
            height: 28px;
        }
    }

    .templateHeading {
        margin-bottom: 14px;
        color: var(--white);
    }

    .recTemplateHeading {
        display: flex;
    }

    .colorAutomation {
        color: var(--white);
        margin-top: 0px;
        font-family: -apple-system, 'system-ui', 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
            'Segoe UI Emoji';
    }

    // .newClass {
    //     span {
    //         mark:nth-of-type(1),
    //         mark:nth-of-type(2),
    //         mark:nth-of-type(3) {
    //             color: var(--red-20);
    //         }
    //     }
    // }

    .color {
        color: var(--blue-40);
    }

    .colorExpandCollapse {
        color: var(--blue-40);
        cursor: pointer;
    }

    .accordionStructure {
        display: flex;
        flex-direction: column;
        gap: 2px;
        margin: 0 40px 40px 40px;
    }

    .headingContainer {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .headingLoadingContainer {
        margin-left: 40px;
        border-bottom: 2px solid var(--grey-65);
        overflow: hidden;
        width: 83%;

        .searchComponent {
            svg {
                --icon-primary-color: var(--grey-40);
            }
        }
    }

    .openView {
        display: flex;
        gap: 40px;
        height: calc(100vh - 63px);
        overflow-x: auto;
        overflow-y: hidden;

        .leftSideView {
            min-width: 638px;

            margin-top: 40px;
            max-height: calc(89vh - 126px);
            overflow-y: auto;
            //padding-bottom: 40px;
        }

        .rightSideView {
            padding: 40px 40px;

            .rightSideTopBar {
                // width: 1090px;
                display: flex;
                justify-content: space-between;
                padding: 3px 0 16px 0;

                .rightSideHeading {
                    color: var(--white);
                }

                .rightSideBlueHeading {
                    color: var(--blue-40);
                }

                .rightSideHeadingDisabled {
                    color: var(--grey-25);
                }
            }
        }

        .terraformContainer {
            display: flex;
            gap: 32px;
            align-items: center;
        }

        .inputBox {
            width: 146px;
            // margin-top: 35px;
            --menu-max-height: 245px;

            // Select box CSS

            [class*='Select-module_base'] {
                margin-bottom: 0;
            }

            [class*='design-system-select__single-value'] {
                color: var(--white) !important;
            }
            [class*='design-system-select__menu'] {
                box-shadow: none;
                width: 240px;
                right: 1px !important;
            }

            [class*='design-system-select__option'] {
                background-color: var(--grey-70);
                color: var(--white);
            }

            [class*='Select-module_multiselect-menu'] {
                background-color: var(--grey-70);
            }
            [class*='design-system-select__option--is-focused'] {
                color: var(--blue-40);
                background-color: var(--grey-60);
            }
            [class*='design-system-select__control']:hover {
                box-shadow: 0 1px 0 var(--header-netapp-text-hover);
                border-bottom: 2px solid var(--field-border-selected) !important;

                div {
                    color: var(--header-netapp-text-hover);
                }

                svg {
                    --icon-primary-color: var(--field-border-selected) !important;
                }
            }

            [class*='design-system-select__control'] {
                border-bottom: 2px solid var(--field-border) !important;
                svg {
                    --icon-primary-color: var(--field-icon) !important;
                }
            }
        }

        .secondBar {
            // width: 1090px;
            height: 48px;
            padding: 16px 24px 16px 40px;
            background-color: var(--grey-55);
            box-shadow: 0px -1px 0px 0px var(--grey-55) inset;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .inputPart {
                display: flex;
                gap: 16px;
                align-items: center;
            }

            .menuContainer {
                display: flex;
                gap: 16px;
                align-items: center;

                .menuItem {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    cursor: pointer;

                    // svg {
                    //     path {
                    //         fill: var(--blue-40);
                    //     }
                    // }
                }

                .menuItemDisabled {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    pointer-events: none;

                    svg {
                        path {
                            fill: var(--grey-25);
                        }
                    }
                }

                .sideBarMenuPopover {
                    width: 24px;
                    height: 24px;
                    background-color: #858c95;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    [class*='MenuPopover_menuIcon'] {
                        color: var(--white);
                        border-radius: 0;
                        border: none;
                    }
                    [class*='MenuPopover_menuIcon__sC4Ef MenuPopover_selected'] {
                        border: none;
                        border-radius: 0;
                    }

                    [class*='MenuPopover_menuIcon']:hover {
                        border: none;
                        border-radius: 0;
                    }
                }

                .copy {
                    width: 100px;
                    display: flex;
                    justify-content: flex-end;
                    // height: 20px;
                    .copy-popover {
                        width: 140px;
                        font-size: 13px;
                        line-height: 20px;
                        text-align: center;
                        padding: 2px 2px;
                        box-shadow: none;
                    }

                    svg {
                        cursor: pointer;
                        &:hover {
                            fill: var(--text-primary);
                        }
                    }
                }
            }
        }

        .cloudFormationButtonContainer {
            height: 64px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--grey-65);
            button {
                height: 32px;
                background: none !important;
                --button-min-width: 480px;
                color: var(--blue-40);
                border: 1px solid var(--blue-40) !important;

                span {
                    text-transform: none !important;
                }
            }

            button:hover {
                color: var(--blue-30) !important;
                border: 1px solid var(--blue-30) !important;
                background-color: var(--grey-60) !important;
            }
        }

        .thirdBar {
            // width: 1090px;
            background-color: var(--grey-65);
            max-height: calc(87vh - 242px);
            height: calc(87vh - 242px);
            // overflow-y: auto;
            padding: 10px 32px 0 40px;

            .scrollContainer {
                &::-webkit-scrollbar {
                    width: 4px;
                    height: 4px;
                    background-color: #858c95;
                }
                overflow-y: auto;
                height: calc(100% - 16px);
                width: calc(100% + 16px);

                .scrollLeft {
                    display: flex;
                    flex-direction: column;
                    height: 100%;

                    .setHorizontalScroll {
                        display: flex;
                        height: calc(100% - 16px);
                    }

                    .setVerticalScroll {
                        height: 16px;
                        background: var(--grey-65);
                        margin-bottom: 0;
                    }

                    .firstBlock {
                        width: calc(100% - 16px);
                        margin-right: 0;
                    }

                    .addMargin {
                        position: relative;
                        margin-right: 16px;
                    }

                    .addVerticalMargin {
                        margin-bottom: 16px;
                    }

                    .empty {
                        width: 16px;
                        background: var(--grey-65);
                    }
                }
            }
        }

        .thirdBarHeight {
            max-height: calc(87vh - 290px);
            height: calc(87vh - 290px);
        }
    }

    ::-webkit-scrollbar {
        width: 4px;
        height: 6px;
        background-color: #858c95;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: #858c95;
        width: 4px;
        height: 6px;
        -webkit-box-shadow: inset 0 0 6px var(--grey-25);
        box-shadow: inset 0 0 6px var(--grey-25);
    }

    ::-webkit-scrollbar-track {
        background-color: var(--grey-65);
    }
    ::-webkit-scrollbar-corner {
        background-color: var(--grey-65);
    }

    .highlightClass {
        background-color: var(--grey-30);
    }

    .awsCliHighlightClass {
        color: var(--blue-30);
        background-color: transparent;
    }

    [class*='SearchInput-module_base'] {
        svg {
            --icon-primary-color: var(--white);
        }

        input {
            color: var(--white);
        }
    }

    [class*='SearchInput-module_opened'] {
        border-bottom: 2px solid var(--content-background) !important;
        position: relative;
        top: -3px;
        svg {
            --icon-primary-color: var(--white);
        }

        input {
            color: var(--white);
        }

        ::-webkit-input-placeholder {
            /* WebKit, Blink, Edge */
            color: var(--white);
        }
    }
}

.open {
    right: 0;
    width: 100%;
}

// @media screen and (min-width: 1576px) and (max-width: 1720px) {
//     .sidebar {
//         width: 570px !important;

//         .accordionMainContainer {
//             margin-top: 0 !important;
//         }

//         .headingContainer {
//             width: 514px !important;
//         }
//         .topBar {
//             padding: 16px 32px 16px 32px !important;
//         }

//         .accordionStructure {
//             margin: 40px 32px 40px 32px !important;
//         }

//         .openView {
//             gap: 0px !important;

//             .leftSideView {
//                 margin-top: 0 !important;
//             }

//             .rightSideView {
//                 .rightSideTopBar {
//                     width: 1000px !important;
//                 }
//                 .secondBar {
//                     width: 1000px !important;
//                 }
//                 .thirdBar {
//                     height: 616px !important;
//                     width: 1000px !important;
//                 }
//             }
//         }
//     }

//     .open {
//         width: 100% !important;
//     }
// }
