.createNewUserHeader {
    [class*='Header-module_left'] {
        padding-left: 40px !important;
    }

    .leftSideStyle {
        display: flex;
        gap: 24px;
        color: var(--text-button-primary);

        align-items: center;
        .separator {
            border-right: 1px solid var(--field-border-disabled);
            height: 24px;
        }

        .hostName {
            color: var(--text-button-primary);
        }
    }
}
