.topBarButtons {
    display: flex;
    gap: 16px;
    button {
        --button-min-width: 120px;
        --button-height: 32px;
        span {
            text-transform: none !important;
        }
        .buttonStyle {
            display: flex;
            align-items: center;
            gap: 6px;
        }
    }

    .refreshIcon {
        cursor: pointer;
        svg {
            --icon-primary-color: var(--button-secondary);
            width: 20px;
            height: 20px;
            margin-top: 5px;
            margin-right: 10px;
        }
    }
}
