.lineChart {
    width: 711px;
    height: 188px;
    position: relative;

    .noData {
        position: absolute;
        left: 50%;
        top: 20%;
    }

    .text {
        position: relative;
        top: -32px;
        left: 16px;
    }
}
