.custom-popover-container {
  .react-popover.info-tooltip .content {
    line-height: 1.77;
    letter-spacing: normal;
    text-align: justify;
    color: #404040;
    font-size: 13px;
    text-align: left;
    padding: 0px;
    min-width: 222px;
  }

  .react-popover .content {
    border-radius: 2px;
    box-shadow: 2px -2px 6px 0 #bbbbbb;
    box-shadow: 2px 2px 6px 0 #bbbbbb;
    border: solid 1px #e0e0e0;
    border-radius: 2px;
    background-color: #ffffff;
  }
}

.Popover {
  z-index: 200030;
}
