.chat-container {
    width: 1063px;
    display: flex;
    background-color: var(--content-background);
    flex-direction: column;
    align-items: center;
    padding-top: 40px;

    .chat-window-container {
        overflow-y: auto;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: calc(100vh - 361px);
        padding: 0 125px 0 125px;

        .chat-window {
            width: 100%;
            background-color: var(--content-background);

            .bubble-container {
                width: 100%;
                margin: 80px 0 0 -50px;
            }
        }
    }

    .current-msg-container {
        height: 120px;
        background-color: var(--content-background);
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 1px 0px 0px var(--grey-15) inset;
        width: 100%;

        .current-msg {
            width: 646px;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 50px;
            box-shadow: 2px 2px 6px 0px var(--border);
            padding: 0 10px 0 10px;
            background-color: var(--content-background);
            border-radius: 4px;

            input {
                background-color: var(--content-background);
                color: var(--text-primary);
            }
        }

        .current-msg-active {
            border: 1px solid var(--blue-70);
        }
    }
}
