.chat-container {
    width: 1063px;
    display: flex;
    background-color: var(--white);
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    .chat-window {
        width: 646px;
        height: calc(100vh - 361px);
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        background-color: var(--white);
    }

    .current-msg-container {
        height: 120px;
        background-color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 1px 0px 0px var(--grey-15) inset;
        width: 100%;

        .current-msg {
            width: 646px;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 50px;
            box-shadow: 2px 2px 6px 0px #e0e0e0;
            padding: 0 10px 0 10px;
            background-color: var(--white);
            border-radius: 4px;
        }

        .current-msg-active {
            border: 1px solid var(--blue-70);
        }
    }
}
