.uniqueErrors {
    background-color: var(--content-background);
    width: 40.73%;
    height: 492px;
    box-shadow: 2px 2px 6px 0px var(--border);

    .headSection {
        display: flex;
        height: 72px;
        padding: 12px 40px;
        align-items: center;
        border-bottom: 1px solid var(--border);
        justify-content: space-between;
    }

    .mainSection {
        padding: 24px 40px 40px 40px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}
