.oraclePDB {
    width: 100%;
    margin-top: -20px;

    .statusCell {
        display: flex;
        gap: 16px;
        flex-direction: row;
        align-items: center;
        .statusIcon {
            width: 10px;
            height: 10px;
            border-radius: 5px;
        }
        .onIcon {
            background-color: var(--green-60);
        }
        .offIcon {
            background-color: var(--red-30);
        }
    }

    .colText {
        display: flex;
        gap: 8px;

        .protection {
            display: flex;
            gap: 17px;
        }
    }

    .databaseButton {
        display: flex;
        align-items: center;
    }
}
