.exploreSavingTable {
    width: 100%;

    margin-top: 24px;

    [class*='header-name'] {
        [class*='Checkbox-module'] {
            display: none !important;
        }
    }

    [class*='disabled-row'] {
        // Target Typography components specifically as DsTypography color is taking precedence
        [class*='Typography'] {
            color: var(--text-disabled) !important;
        }
    }

    .firstColText {
        display: flex;
        gap: 8px;
    }

    [class*='Table-module_header-row'] {
        [class*='Table-module_header-cell'] {
            &:nth-child(4) {
                [class*='Table-module_right-border'] {
                    pointer-events: none;
                }
            }
        }
    }

    .statusIcon {
        width: 10px;
        height: 10px;
        align-self: center;
        &.circle {
            border-radius: 50%;
            margin-top: 2px;
        }
        &.up {
            background-color: var(--green-60);
        }
        &.down {
            background-color: var(--orange-60);
        }
        &.initializing {
            background-color: var(--cyan-30);
        }
        &.failed {
            background-color: var(--red-30);
        }
        &.online {
            background-color: var(--green-60);
        }
        &.offline {
            background-color: var(--red-30);
        }
        &.unknown {
            background-color: var(--grey-25);
        }
    }

    .cost {
        display: flex;
        gap: 16px;

        .tooltipClass {
            [class*='TooltipInfo-module_tooltip-base'] {
                max-width: 462px !important;
                padding: 16px 24px;
                box-shadow: 2px 2px 6px 0px var(--border);
            }
        }
    }

    .copy {
        width: 100px;
        display: flex;
        justify-content: flex-end;
        height: 20px;

        svg {
            cursor: pointer;
            &:hover {
                fill: var(--icon-primary);
            }
        }
    }

    .ssmLink {
        span {
            text-transform: none !important;
        }
    }
}
