.exploreSavingsHeader {
    margin: 0 auto;
    margin-top: 40px;
    background-color: var(--content-background);
    box-shadow: 2px 2px 6px 0px var(--border);
    width: 83.75%;
    max-width: 1607px;
    height: 224px;

    .topPart {
        display: flex;

        .contentSection {
            padding: 25px 64px 0 64px;
            display: flex;
            gap: 48px;

            width: 69.47%;

            .leftSide {
                display: flex;
                flex-direction: column;
                gap: 4px;
                width: 45.77%;
            }

            .rightSide {
                display: flex;
                flex-direction: column;
                gap: 4px;
                width: 43.77%;
            }

            .headingPart {
                display: flex;
                align-items: center;
                gap: 16px;
            }

            .subText {
                font-size: 16px;
                line-height: 28px;
                font-weight: 400;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif,
                    'Apple Color Emoji', 'Segoe UI Emoji';
                color: var(--text-primary);

                .link {
                    color: var(--text-button-primary);
                    font-weight: 500;
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width: 1560px) {
    .exploreSavingsHeader {
        height: 328px;

        .topPart {
            .svgContainer {
                height: 328px;

                svg {
                    height: 100%;
                }
            }
        }
    }
}
