.exploreSavingsHeader {
    margin: 0 auto;
    margin-top: 40px;
    background-color: var(--content-background);
    box-shadow: 2px 2px 6px 0px var(--border);
    width: 1605px;
    height: 224px;

    .topPart {
        display: flex;

        .contentSection {
            padding: 66px 64px 0 64px;
            display: flex;
            flex-direction: column;
            gap: 4px;

            .subText {
                width: 877px;
            }
        }
    }
}
