.encryption {
    .subText {
        width: 897px;
    }

    .handleRadio {
        display: flex;
        gap: 32px;
        margin-top: 24px;
    }

    .otherAccount {
        margin-top: 24px;
        width: 647px;
    }

    .textField {
        margin-top: 24px;
        width: 562px;
    }

    .popover {
        max-width: 325px;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
    }
}
