.sandboxes {
    background-color: var(--content-background);
    width: 792px;
    height: 551px;
    box-shadow: 2px 2px 6px 0px #e0e0e0;

    .headSection {
        display: flex;
        height: 72px;
        padding: 12px 40px;
        align-items: center;
        border-bottom: 1px solid var(--border);
        justify-content: space-between;
    }

    .mainSection {
        padding: 136px 40px;
        display: flex;
        gap: 120px;
        flex-direction: row;
        align-items: center;

        [class*='_sandboxChart'] {
            width: 200px;
            height: 200px;
            [class*='_emptyCircle'] {
                width: 200px;
                height: 200px;
            }
        }
    }

    .rightSide {
        display: flex;
        flex-direction: column;

        .individualRow {
            .squareSetup {
                display: flex;
                gap: 8px;
                align-items: center;
            }
            display: flex;
            align-items: center;

            width: 358px;
            height: 56px;
            justify-content: space-between;
            border-top: 1px solid var(--border);

            .square {
                width: 12px;
                height: 12px;
            }

            .days {
                width: 80px;
            }

            .separator {
                border-right: 1px solid var(--field-border-disabled);
                height: 18px;
            }

            .count {
                display: flex;
                gap: 8px;
                align-items: center;
            }
        }
    }
}

@media screen and (max-width: 1700px) {
    .sandboxes {
        width: 650px;

        .mainSection {
            gap: 55px;
        }

        .rightSide {
            .individualRow {
                width: 300px;
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    .sandboxes{
        width: 41.25%;
        [class*='mainSection']{

            [class*='_rightSide']{
                width: 74.75%;
                .individualRow{
                    width: 60.47%;
                    [class*='squareSetup']{
                        [class*='square_']{
                            width: 3.35%;
                        }
                    
                    }
                }
            }
        }
    }
}