.defineTag {
    .headerSetter {
        left: 0%;
    }

    .container {
        display: flex;
        gap: 24px;
    }

    .tag {
        width: 120px;
        height: 40px;
        border: 1px solid var(--tag-1-text);
        border-radius: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .tagColor {
            color: var(--tag-1-text);
        }
    }

    .selectedTag {
        background-color: #dee0fa;
    }
}

@media screen and (max-width: 1500px) {
    .defineTag {
        .container {
            display: flex;
            width: 408px;
            flex-wrap: wrap;
        }
    }
}
