.manualTCOFields {
    .firstContainer {
        display: flex;
        flex-direction: column;
        margin-top: 40px;

        .secondRow {
            display: flex;
            gap: 24px;

            .deploymentModelWidth {
                flex: 1;
                min-width: 0;
            }
        }
    }
}
