.managedHostDialog {
    .extraDiv {
        height: 40px;
        background: var(--content-background);
        margin-top: -40px;
        position: relative;
        z-index: 2;
        position: sticky;
        top: -39px;
    }
    .inProgress {
        display: flex;
        gap: 16px;
        align-items: center;
    }

    [class*='Table-module_highlighted-row'] {
        span {
            background-color: var(--main-background) !important;
        }
    }
    [class*='PaginationPanel-module_pagination-panel'] {
        bottom: -40px !important;
    }
}

[class*='Popover-module_base'] {
    max-width: 400px;
}

// [class*='DialogLayout-module_dialog-content'] {
//     padding: unset !important;
//     margin: 40px !important;
// }
