.computeInformation {
    padding: 0 40px;
    margin-top: 32px;

    .computeTable {
        width: 848px;
        background-color: var(--main-background);
        padding: 16px 40px;
        display: flex;
        flex-direction: column;
        gap: 22px;

        .row1 {
            display: flex;
            gap: 24px;

            .col1 {
                width: 122px;
            }

            .col2,
            .col3,
            .col4 {
                width: 191px;
            }
        }
    }
}
