.selectedHosts {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .valueArea {
        width: 576px;
        height: 80px;
        background-color: var(--table-header-background);
        padding: 16px 40px;
        display: flex;

        .container {
            display: flex;
            flex-direction: column;

            .value {
                width: 142px;
                max-width: 142px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .heading {
                width: 140px;
                max-width: 142px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }

        .secondContainer {
            width: 186px;
            border-left: 1px solid var(--border);
            border-right: 1px solid var(--border);
            align-items: center;
            margin: 0 22px 0 22px;
            padding-left: 6px;
        }
    }

    .disabledHeading {
        color: var(--text-disabled);
    }

    .disabledContent {
        color: var(--text-disabled);
    }

    .loader {
        margin-top: 10px;
        margin-bottom: 6px;
    }
}
