.tooltipLevel {
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-width: 700px;
    padding: 8px;

    .tooltipSeparator {
        border-bottom: 1px solid var(--border);
    }

    .row {
        display: flex;
        gap: 32px;
        margin-top: 6px;
        margin-bottom: 12px;

        .colKey {
            display: flex;
            align-items: center;
            gap: 8px;
            width: 330px;
        }

        .colValue {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }
}
