.card {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .cardTopSection {
        display: flex;
        gap: 24px;
        align-items: center;
    }
    .cardBottomSection {
        display: flex;
        gap: 24px;

        .cardTextSection {
            display: flex;
            flex-direction: column;
            gap: 4px;

            .cardValue {
                display: flex;
                flex-direction: row;
                gap: 8px;
                align-items: center;
            }

            .withView {
                display: flex;
                gap: 16px;
                align-items: center;
            }
        }
    }
}
