.optimizedModel {
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.4);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .modal {
        background: var(--content-background);
        height: 460px;
        width: 500px;
    }

    .content {
        padding: 40px;

        .description {
            margin-top: 8px;
        }

        .footer {
            display: flex;
            gap: 16px;
            margin-top: 32px;
            align-items: center;
            justify-content: end;
        }
    }
}
