.protectionSection {
    .headSection {
        display: flex;
        height: 72px;
        padding: 12px 40px;
        align-items: center;
        border-bottom: 1px solid var(--border);
    }

    .title {
        display: flex;
    }

    .loadingPlacement {
        display: flex;
        padding-left: 15px;
    }

    .secondContainer {
        padding: 40px;
        display: flex;
        gap: 40px;

        .secondLevel {
            display: flex;
            flex-direction: column;
            gap: 16px;
            width: 240px;
            height: 152px;

            .headerPart {
                display: flex;
                align-items: center;
                gap: 8px;
            }

            .separatorProtection {
                width: 240px;
                border-bottom: 1px solid var(--border);
            }
            .square {
                width: 12px;
                height: 12px;
            }

            .row {
                display: flex;
                justify-content: space-between;

                .firstPart {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                }

                .secondPart {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    .separatorSecondPart {
                        background: var(--border);
                        width: 1px;
                        height: 16px;
                    }
                }
            }
        }
    }
}

// CSS for smaller screen

@media screen and (min-width: 1576px) and (max-width: 1720px) {
    .protectionSection {
        .secondContainer {
            display: flex;
            gap: 26px !important;
            padding: 40px 40px 40px 32px !important;
        }
    }
}
