.cloud-formation {
    width: 794px;

    margin: 32px 0;
    background-color: #fff;
    .inner {
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
