.license {
    .licenseText {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        color: var(--text-primary);
        width: 676px;
    }

    .radio-container {
        background-color: var(--hover-background);
        padding: 16px 24px 16px 24px;
        display: flex;
        gap: 32px;
        margin-top: 24px;
        margin-bottom: 40px;
    }

    .headings {
        display: grid;
        gap: 16px;

        .filterVersions {
            display: flex;
            gap: 24px;

            .selectVersion {
                width: 29.32%;
            }
        }

        .handleSelect {
            display: flex;
            gap: 10px;
            width: 647px;
            --menu-max-height: 250px;

            [class*='design-system-select__single-value'] {
                max-width: 578px !important;
            }
        }
    }
}
