.instanceInformation {
    padding: 32px 40px 0 40px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .instanceTable {
        [class*='Table-module_header-cell'] {
            position: relative !important;
        }

        [class*='Table-module_row']:hover {
            [class*='Table-module_cell'] {
                background-color: var(--main-background) !important;
            }
        }

        .tooltips {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }
}

.instanceTypeTooltip {
    margin-right: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
