.load-config {
    .content {
        color: var(--light-text-text-primary, #404040);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 171.429% */
    }
}
