.region-vpc {
    .regionSelect {
        width: 396px;
    }

    .regionSubText {
        width: 396px;
    }

    .handleRadio {
        margin-top: 20px;
        display: flex;
        gap: 32px;
    }

    .handleSelect {
        width: 396px;
        margin-top: 16px;
        --menu-max-height: 250px;

        .noticeVpc {
            display: flex;
            gap: 8px;

            width: 900px;

            svg {
                width: 16px;
                height: 16px;
                path {
                    fill: #518bec;
                }
            }
        }
    }
}
