.jobMonitoringTable {
    .table {
        width: 1627px;
    }

    .secondLevel {
        display: flex;
        height: 100px;

        .secondLevelStatusbar {
            width: 3px;
            height: inherit;
    
            &.completed {
                background-color: var(--success);
            }
            &.failed {
                background-color: var(--error);
            }
            &.running {
                background-color: var(--cyan-60);
            }
        }

        .secondLevelText {
            text-align: center;
            margin-top: 40px;
            margin-left: 40%;
        }
    }

    .statusbar {
        width: 3px;
        margin-left: -24px;
        height: inherit;

        &.completed {
            background-color: var(--success);
        }
        &.failed {
            background-color: var(--error);
        }
        &.running {
            background-color: var(--cyan-60);
        }
    }

    .arrow {
        margin-left: 20px;
    }

    .statusCol {
        display: flex;
        gap: 10px;
    }

    .jobname {
        text-wrap: pretty;
    }
}