.jobMonitoringTable {
    .table {
        width: 1612px;

        .downloadDisable {
            svg {
                path {
                    fill: var(--grey-30);
                }
            }
        }
        
        .topBarStyle {
            z-index: 3 !important;
        }

        [class*='Table-module_header-row'] {
            z-index: 3 !important;
        }

        [class*='Table-module_header-row'] {
            [class*='Table-module_header-cell'] {
                &:nth-child(2) {
                    [class*='Table-module_right-border'] {
                        pointer-events: none;
                    }
                }
            }
        }
    }

    .secondLevel {
        display: flex;
        height: 100px;

        .secondLevelStatusbar {
            width: 3px;
            height: inherit;

            &.completed {
                background-color: var(--success);
            }
            &.failed {
                background-color: var(--error);
            }
            &.running,
            &.in_progress {
                background-color: var(--cyan-60);
            }
        }

        .secondLevelText {
            text-align: center;
            margin-top: 40px;
            margin-left: 40%;
        }
    }

    .statusbar {
        width: 3px;
        margin-left: -24px;
        height: 64px;

        &.completed {
            background-color: var(--success);
        }
        &.failed {
            background-color: var(--error);
        }
        &.running,
        &.in_progress {
            background-color: var(--cyan-60);
        }
    }

    .arrow {
        margin-left: 20px;
        svg {
            &.arrow-down {
                transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
            }
        }
    }

    .statusCol {
        display: flex;
        gap: 16px;
        .statusIcon {
            width: 20px;
            height: 20px;
        }
    }

    .wrapText {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 24px;
    }
}

@media screen and (min-width: 1351px) and (max-width: 1520px) {
    .jobMonitoringTable {
        .table {
            width: 1127px;
        }
        .firstCol {
            box-shadow: 4px 0px 2px var(--grey-15);
        }
    }
}
