.time-dropdown {
    position: relative;
    display: inline-block;
    font-family: sans-serif;

    .selected-time {
        width: max-content;
        min-width: 130px;
        height: 20px;
        border-radius: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 11px !important;
        cursor: pointer;
        background-color: var(--tag-3-bg);
        color: var(--tag-3-text) !important;
        font-weight: 500;
    }

    .dropdown-menu {
        position: absolute;
        top: 110%;
        left: 0;

        width: auto;
        z-index: 10;

        background-color: var(--background-content);
        box-shadow: 4px 4px 12px var(--border-drop-shadow);
    }

    .dropdown-option {
        display: inline-block;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        box-sizing: border-box;
        width: 100%;
        padding: 12px 24px 12px 24px;
        cursor: pointer;
    }

    .dropdown-option:hover {
        background-color: var(--background-hover);
    }

    .custom-panel {
        margin-top: 8px;

        background-color: var(--background-content);
        box-shadow: 4px 4px 12px var(--border-drop-shadow);
        position: absolute;
        top: 110%;
        z-index: 10;
        width: 572px;
        height: 172px;
        display: flex;
        flex-direction: column;

        .timeSelect {
            width: 120px;
            [class*='dsTextFramePopover'] {
                [class*='textFieldInput'] {
                    border: 1px solid var(--field-border) !important;
                }
            }
        }
        .periodSelect {
            width: 90px;
            [class*='dsTextFramePopover'] {
                [class*='textFieldInput'] {
                    border: 1px solid var(--field-border) !important;
                }
            }
        }
    }

    .time-range {
        display: flex;
        gap: 40px;
        padding: 24px 40px 40px 40px;
        height: 130px;
        .custom-label {
            display: flex;
            gap: 16px;
        }
    }

    .time-range label {
        display: block;
        font-size: 12px;
        margin-bottom: 4px;
    }

    .time-range input {
        width: 80px;
        padding: 4px;
    }

    .time-range select {
        width: 60px;
        padding: 4px;
    }

    .custom-actions {
        display: flex;

        .button {
            width: 286px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background-color: var(--background-content);
            box-shadow: 4px 4px 12px var(--border-drop-shadow);
            color: var(--text-button-primary);
            border-top: 0.5px solid var(--border);
        }

        .button:hover {
            background-color: var(--background-hover);
        }
    }

    .custom-actions button {
        background: none;
        border: none;
        color: #1c1c1c;
        cursor: pointer;
        font-weight: bold;
    }

    select {
        padding: 6px 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: white;
        font-size: 14px;
        appearance: none;
        cursor: pointer;
    }

    .time-toggle {
        display: inline-flex;
        align-items: center;
        gap: 6px;
        cursor: pointer;
    }

    .selected-time {
        background: #e3e6fb;
        color: #1c1c1c;
        padding: 4px 12px;
        border-radius: 20px;
        font-weight: 500;
        font-size: 14px;
    }

    .icon {
        transition: transform 0.3s ease;
        display: flex;
        align-items: center;
        svg {
            fill: var(--grey-50) !important;
        }
    }

    .iconDisable {
        svg {
            fill: var(--grey-30) !important;
        }
    }

    .darkSupport {
        svg {
            fill: var(--white) !important;
        }
    }

    .rotated {
        transform: rotate(180deg);
    }

    .selected {
        color: var(--text-button-primary);
    }

    .disabled {
        color: var(--text-disabled) !important;
        cursor: not-allowed;
    }

    .filterWrapper {
        position: relative;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .imageFilter {
        display: flex;
        align-items: center;
        gap: 4px;
        position: relative;
    }

    .separator {
        width: 1px;
        height: 24px;
    }

    .popup {
        position: absolute;
        top: calc(100% + 8px);

        min-width: 180px;
        background: var(--content-background);
        border: 1px solid var(--border);
        box-shadow: 2px 2px 6px 0px var(--border);
        z-index: 1000;

        .headerContainer {
            height: 48px;
            border-bottom: 1px solid var(--border);
            width: 365px;
            padding: 12px 16px;
        }
    }

    .title {
        font-weight: 600;
        margin-bottom: 8px;
    }

    .filterGrid {
        display: flex;
        justify-content: space-between;
    }

    .column {
        display: flex;
        flex-direction: column;

        width: 182px;
    }

    .item {
        height: 48px;
        padding: 16px;
    }

    .footer {
        display: flex;
        align-items: center;

        border-top: 1px solid var(--border);
        height: 40px;

        .buttonItem {
            width: 50%;
            border-right: 1px solid var(--border);
        }
        .buttonItem1 {
            width: 50%;
        }
    }
}
