.select-instances {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;

    .container {
        width: 55.41%;
        background-color: var(--content-background);
        height: 485px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;

        .textSection {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;

            .description {
                max-width: 836px;
                text-align: center;
            }
        }

        .selectInstances {
            width: 518px;
        }
    }
}
