.provisioned {
    .handleRadios {
        display: flex;
        gap: 32px;
    }

    .automatic {
        margin-top: 24px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        color: var(--grey-50);
    }

    .user {
        margin-top: 16px;
        width: 312px;
    }

    .popover {
        max-width: 325px;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
    }
}
