.databaseAction {
    .firstRow {
        display: flex;
        gap: 24px;
        margin-top: 8px;
    }

    .secondRow {
        display: flex;
        gap: 24px;
        margin-top: 25px;
    }
}
