.removeDialogContainer {
    display: flex;
    flex-direction: column;

    .removeDialogContent {
        display: flex;
        flex-direction: row;
        gap: 4px;

        .resourceName {
            font-weight: 600;
            margin: 0 4px 0 4px;
        }
    }

    .removeDialogNotice {
        margin-top: 16px;
        display: flex;
        flex-direction: row;
        gap: 4px;

        .noticeTag {
            color: var(--warning);
        }
    }
}
