.jobStatus {
    .headSection {
        display: flex;
        height: 72px;
        padding: 12px 40px;
        align-items: center;
        justify-content: space-between;
        flex-shrink: 0;
        border-bottom: 1px solid #e0e0e0;
    }

    .buttonContainer {
        display: flex;
        gap: 4px;
        align-items: center;
        cursor: pointer;
        .buttonStyle {
            color: #0067c5;
        }
    }

    .title {
        display: flex;
    }

    .mainSection {
        padding: 40px;
        display: flex;
        gap: 40px;
        // flex-direction: column;

        .rightSection {
            display: flex;
            flex-direction: column;
        }

        .jobSeparator {
            width: 240px;
            border-bottom: 1px solid var(--border);
        }

        .rowData {
            display: flex;
            justify-content: space-between;
            width: 240px;
            margin: 16px 0;

            .firstPart {
                display: flex;
                gap: 8px;
                align-items: center;

                .square {
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }
}

// @media screen and (min-width: 1576px) and (max-width: 1720px) {
//     .headSection {
//         padding: 12px 32px !important;
//     }

//     .mainSection {
//         padding: 24px 32px 24px 24px !important;
//     }
// }
