.sourceInformation {
    box-shadow: 2px 2px 6px var(--grey-15);
    height: 116px;
    width: 32.31%;

    background-color: var(--content-background);
    padding: 28px 40px 24px 40px;
    display: flex;
    gap: 80px;

    .wrapperContainer {
        display: flex;
        gap: 20px;

        .insideContainer {
            display: flex;
            flex-direction: column;
            .loadingContainer {
                height: 35px;
                display: flex;
            }
        }
    }
}

@media screen and (min-width: 1429px) and (max-width: 1800px) {
    .sourceInformation {
        width: 44.8%;
        max-width: 1000px;
    }
}

@media screen and (max-width: 1428px) {
    .sourceInformation {
        width: 44%;
        gap: 25px;
    }
}

@media screen and (min-width: 1920px) {
    .sourceInformation {
        max-width: unset;
        justify-content: space-around;
    }
}
