.estimatedCostContainer {
    width: 332px;
    gap: 8px;
    .costContainerHeader {
        gap: 48px;
        display: flex;
        justify-content: space-between;
        height: 36px;
        padding: 8px 0px 0px 8px;
    }

    .middleContainer {
        margin-top: 1px;
        background-color: var(--loader-skeleton-bg);
        height: 36px;
        display: flex;
        gap: 48px;
    }

    .middle {
        width: 159px;
        padding: 6px 0 0 24px;
    }

    .lastContainer {
        height: 36px;
        margin-top: 8px;
        background-color: var(--table-header-background);
        display: flex;
        gap: 20px;

        .totalCost {
            padding: 6px 0 0 24px;
        }
    }
}
