.fileNames {
    .textSection {
        margin-top: 16px;
        margin-bottom: 32px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        .firstSection {
            display: flex;
            gap: 16px;
        }
    }
    .firstRow {
        display: flex;
        gap: 24px;
        .quickFileNameText {
            width: 394px;
        }
        .advFileNameText {
            width: 309px;
        }
    }

    .dataFileSection {
        .dataFileSeparator {
            margin-top: 8px;
            width: 984px;
            border-bottom: 1px solid var(--grey-25);
        }

        .inputSection {
            margin-top: 24px;
            display: flex;
            gap: 24px;
        }

        .driveSelectField {
            width: 229px;
            --menu-max-height: 255px;

            [class*='Select-module_option-with-secondary'] {
                gap: 0 !important;
            }
        }

        .pathSection {
            display: flex;
            height: 41px;
            width: 397px;
            background-color: var(--main-background);
            margin-top: 26px;
            margin-bottom: 64px;
            padding: 10px 24px;
            white-space: nowrap;

            .pathText {
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }

    .headerText {
        display: flex;
        gap: 8px;
    }

    [class*='tooltip-base'] {
        padding: 8px 12px !important;
        width: 480px !important;
        max-width: 480px !important;
    }

    .nameTooltip {
        flex-direction: column;
        align-items: flex-start;
        gap: 3px;

        .listItem {
            display: flex;
            gap: 16px;
        }

        .textWidth {
            width: 420px;
        }
    }

    .headerWrap {
        max-width: 278px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
