.inventoryChart {
    width: 196px;
    height: 196px;
    position: relative;
    .center-text {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .emptyCircle {
        width: 196px;
        height: 196px;
        border-radius: 50%;
        border: 1px solid var(--field-border-disabled);
    }
}
