.protectLayout {
    width: 83%;
    min-width: 724px;
    .adjustMargin {
        margin-top: 32px;
    }

    .pgsql-availability-zone {
        [class*='_firstContainer'] {
            [class*='_pgsqlMargin'] {
                margin-right: 26px;
            }
        }
    }
}
