.savingsCalculator {
    width: 100vw;

    .breadCrumb {
        margin-top: 16px;
        margin-left: 40px;
        width: 1687px;
        display: flex;
        justify-content: space-between;

        [class*='BreadCrumbs_bread-crumbs'] {
            position: relative;
            top: -3px;
        }
    }

    .savingsHeading {
        margin: 0 auto;

        width: 1336px;
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: center;
    }

    .savingsHeadingOnPremise {
        width: 1607px;
    }

    .contentArea {
        width: 1336px;
        margin: 0 auto;
        margin-top: 8px;
        margin-bottom: 40px;
        display: flex;
        gap: 24px;

        .firstContainer {
            width: 656px;
            height: 1315px;
            max-height: 1315px;
            overflow-y: auto;
            overflow-x: hidden;
            background-color: var(--content-background);
            box-shadow: 2px 2px 6px 0px var(--border);
        }

        .onPremiseContainer {
            width: 928px;
            height: 1315px;
            max-height: 1315px;
            overflow-y: auto;
            overflow-x: hidden;
            background-color: var(--content-background);
            box-shadow: 2px 2px 6px 0px var(--border);
        }

        .classForPrintOnPrem {
            max-height: max-content;
            height: max-content;
        }

        .secondContainer {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        .classForManualFsx {
            max-height: none;
            overflow-y: unset;
            overflow-x: unset;
        }

        .classForPrint {
            max-height: max-content;
            height: max-content;
        }
    }
    .contentAreaOnPremise {
        width: 1607px;
    }

    .selectionArea {
        margin: 0 auto;
        margin-top: 24px;
        box-shadow: 2px 2px 6px 0px var(--border);
        height: 105px;
        width: 1336px;
        background-color: var(--content-background);
        padding: 28px 40px;
        display: flex;
        gap: 40px;
        border-bottom: 1px solid var(--border);

        .textContent {
            display: flex;
            flex-direction: column;
            .secondText {
                width: 1168px;
            }
        }

        .textDisable {
            color: var(--text-disabled);
        }
    }

    .selectionAreaOnPrem {
        width: 1607px;
    }
}

@media screen and (max-width: 1500px) {
    .savingsCalculator {
        .savingsHeading {
            width: 1128px;
        }

        .savingsHeadingOnPremise {
            width: 1407px !important;
        }

        .contentArea {
            width: 1128px !important;
            .firstContainer {
                width: 648px !important;
                height: 1356px;
                max-height: 1356px;

                [class*='savingsHeader'] {
                    width: 648px;
                }
            }

            .classForPrint {
                max-height: max-content;
                height: max-content;
            }

            .onPremiseContainer {
                height: 1356px;
                max-height: 1356px;
            }
            .classForPrintOnPrem {
                max-height: max-content;
                height: max-content;
            }

            .secondContainer {
                width: 456px;
            }
        }

        .contentAreaOnPremise {
            width: 1407px !important;
        }
        .selectionArea {
            width: 1128px;
        }

        .selectionAreaOnPrem {
            width: 1407px;
        }

        [class*='mssqlAccordion'] {
            width: 1128px;
        }
    }
}
