.savingsCalculator {
    width: 100vw;

    .breadCrumb {
        margin-top: 16px;
        margin-left: 40px;
        width: 1687px;
        display: flex;
        justify-content: space-between;

        [class*='BreadCrumbs_bread-crumbs'] {
            position: relative;
            top: -3px;
        }
    }

    .savingsHeading {
        margin: 0 auto;
        margin-top: 12px;
        width: 1336px;
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: center;

        .optimizeLinkContainer {
            position: relative;
            top: 12px;

            display: flex;
            gap: 8px;
            align-items: center;
        }
    }

    .savingsHeadingOnPremise {
        width: 1607px;
    }

    .contentArea {
        width: 1336px;
        margin: 0 auto;
        margin-top: 8px;
        margin-bottom: 40px;
        display: flex;
        gap: 24px;

        .firstContainer {
            width: 656px;
            height: 1315px;
            max-height: 1315px;
            overflow-y: auto;
            overflow-x: hidden;
            background-color: var(--content-background);
            box-shadow: 2px 2px 6px 0px var(--border);
        }

        .onPremiseContainer {
            width: 928px;
            height: 1315px;
            max-height: 1315px;
            overflow-y: auto;
            overflow-x: hidden;
            background-color: var(--content-background);
            box-shadow: 2px 2px 6px 0px var(--border);
        }

        .classForPrintOnPrem {
            max-height: max-content;
            height: max-content;
        }

        .secondContainer {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        .classForManualFsx {
            max-height: none;
            overflow-y: unset;
            overflow-x: unset;
        }

        .classForPrint {
            max-height: max-content;
            height: max-content;
        }
    }
    .contentAreaOnPremise {
        width: 1607px;
    }

    .selectionArea {
        margin: 0 auto;
        margin-top: 24px;
        box-shadow: 2px 2px 6px 0px var(--border);
        height: 105px;
        width: 1336px;
        background-color: var(--content-background);
        padding: 28px 40px;
        display: flex;
        gap: 40px;
        border-bottom: 1px solid var(--border);

        .textContent {
            display: flex;
            flex-direction: column;
            .secondText {
                width: 1168px;
            }
        }

        .textDisable {
            color: var(--text-disabled);
        }
    }

    .selectionAreaOnPrem {
        width: 1607px;
    }
}

@media screen and (max-width: 1500px) {
    .savingsCalculator {
        .savingsHeading {
            width: 1128px;
        }

        .savingsHeadingOnPremise {
            width: 1407px !important;
        }

        .contentArea {
            width: 1128px !important;
            .firstContainer {
                width: 648px !important;
                height: 1356px;
                max-height: 1356px;

                [class*='savingsHeader'] {
                    width: 648px;
                }
            }

            .classForPrint {
                max-height: max-content;
                height: max-content;
            }

            .onPremiseContainer {
                height: 1356px;
                max-height: 1356px;
            }
            .classForPrintOnPrem {
                max-height: max-content;
                height: max-content;
            }

            .secondContainer {
                width: 456px;
            }
        }

        .contentAreaOnPremise {
            width: 1407px !important;
        }
        .selectionArea {
            width: 1128px;
        }

        .selectionAreaOnPrem {
            width: 1407px;
        }

        [class*='mssqlAccordion'] {
            width: 1128px;
        }
    }
}

@media screen and (min-width: 1920px) {
    .savingsCalculator {
        .savingsHeading {
            width: 95%;
            padding: 0px 120px 0px;
            padding-top: 16px;
        }

        .contentArea {
            width: 95% !important;
            padding: 0 120px 56px;

            .firstContainer {
                width: 50%;
                [class*='savingsHeader'] {
                    width: 100%;
                }
            }

            .onPremiseContainer {
                width: 50%;
                [class*='savingsHeader'] {
                    width: 100%;
                }
            }
            .secondContainer {
                width: 50%;
                [class*='costSavings'] {
                    width: 100%;
                    [class*='leftSide'] {
                        width: 50%;
                    }
                    [class*='rightSide'] {
                        width: 50%;
                    }
                }

                [class*='totalMonthlyCost'] {
                    width: 100%;
                }
                [class*='costBreakdown'] {
                    width: 100%;
                }
            }
        }

        .selectionArea {
            width: 91%;
        }

        [class*='mssqlAccordion'] {
            width: 91%;
        }
        [class*='instanceInformation'] {
            [class*='Table-module_table'] {
                grid-template-columns: 1fr 1fr 1fr;
            }
            [class*='Table-module_header-row'] {
                grid-template-columns: 1fr 1fr;
            }
            [class*='Table-module_body'] {
                grid-template-columns: 1fr 1fr;
            }
        }
        [class*='onPremRegion'] {
            width: 100%;
        }
        [class*='computeTable'] {
            width: 100% !important;

            > div:nth-child(1) {
                justify-content: space-between;

                > div:nth-child(1) {
                    width: 1%;
                }
            }
            > div:nth-child(2),
            > div:nth-child(3) {
                width: 100%;

                > div:nth-child(1) {
                    width: 31%;
                }
                > div:nth-child(2) {
                    width: 100%;
                    justify-content: space-between;
                }
            }
        }
        [class*='savingsSelection'] {
            width: 100%;
            [class*='firstRow'] {
                justify-content: space-between;
            }
        }
    }
}

@media screen and (min-width: 2133px) and (max-width: 5020px) {
    .selectionArea {
        width: 86% !important;
    }
    [class*='mssqlAccordion'] {
        width: 86% !important;
    }
    [class*='computeTable'] {
        width: 100% !important;

        > div:nth-child(1) {
            margin-left: 19%;
        }
        > div:nth-child(3) {
            > div:nth-child(1) {
                width: 2%;
            }
        }
    }
}

@media screen and (min-width: 1900px) and (max-width: 2000px) {
    .selectionArea {
        width: 83% !important;
    }
    [class*='mssqlAccordion'] {
        width: 83% !important;
    }

    [class*='computeTable'] {
        width: 100% !important;

        > div:nth-child(1) {
            margin-left: 9%;
        }
        > div:nth-child(2),
        > div:nth-child(3) {
            > div:nth-child(1) {
                width: 1%;
            }
            > div:nth-child(2) {
                width: 91% !important;
            }
        }
    }
}
