.databaseHome {
    height: 100vh;
    background-color: var(--main-background);

    .leftSide {
        overflow-y: auto;
        height: 100%;
    }

    .topContainer {
        display: flex;
        width: 1066px;
        justify-content: space-between;
        margin-top: 38px;
        margin-left: 120px;
        .heading {
            line-height: unset;
        }
    }

    .secondLevelContainer {
        margin-left: 120px;
        display: flex;
    }

    .ProtectionContainer {
        margin-left: 120px;
        margin-top: 24px;
        height: 360px;
        width: 1064px;
        background-color: var(--content-background);
    }

    .fourthLevelContainer {
        margin-left: 120px;
        margin-top: 24px;
        margin-bottom: 40px; //Temporary
        display: flex;
        gap: 24px;

        .barContainer {
            display: flex;
            flex-direction: column;
            gap: 24px;

            .commonContainer {
                background-color: var(--content-background);
                height: 244px;
                width: 656px;
            }
        }

        .jobContainer {
            width: 384px;
            height: 512px;
            background-color: var(--content-background);
        }
    }
}

@media screen and (min-width: 1576px) and (max-width: 1720px) {
    .databaseHome {
        .topContainer {
            margin-left: 37px !important;
            width: 1012px !important;
        }

        .secondLevelContainer {
            margin-left: 37px !important;
        }

        .ProtectionContainer {
            margin-left: 37px !important;
            width: 1012px !important;
        }

        .fourthLevelContainer {
            margin-left: 37px !important;

            .commonContainer {
                width: 633px !important;
            }

            .jobContainer {
                width: 355px !important;
            }
        }
    }
}
