.getWell {
    background-color: var(--main-background);
    width: 100%;
    height: 100vh;
    padding-top: 80px;
    padding-left: 100px;

    .combineComponent {
        display: flex;
        flex-direction: column;
        width: 1608px;

        .genericTag {
            width: max-content;
            height: 40px;
            border: 1px solid var(--tag-1-text);
            border-radius: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 10px;
            cursor: pointer;

            .tagColor {
                color: var(--tag-1-text);
            }
        }
    }
}
