.sandboxTable {
    width: 1608px;
    margin-left: 120px;
    margin-top: 24px;
    margin-bottom: 40px;
}

@media screen and (max-width: 1500px) {
    .sandboxTable {
        width: 1107px;

        [class*='Table-module_row'] {
            [class*='Table-module_cell']:first-child {
                box-shadow: 2px 2px 6px 0px var(--border);
            }
        }
    }
}
