.sandboxTable {
    width: 1608px;
    margin-left: 120px;
    margin-top: 24px;
    margin-bottom: 40px;

    .jobMenuPopover {
        margin-left: -13px;
        [class*='MenuPopover_menuPointer'] {
            background: none !important;
        }
    }
}

.setWidth {
    width: 792px !important;
}

@media screen and (max-width: 1500px) {
    .sandboxTable {
        width: 1107px;

        [class*='Table-module_row'] {
            [class*='Table-module_cell']:first-child {
                box-shadow: 2px 2px 6px 0px var(--border);
            }
        }
    }
}
