.dashboardRibbon {
    margin-top: 24px;
    height: 54px;
    width: 82.4%;
    box-shadow: 2px 2px 6px 0px var(--border);
    background-color: var(--hover-background);
    padding: 15px 40px;
    display: flex;
    gap: 16px;
}

@media screen and (max-width: 1500px) {
    .dashboardRibbon {
        height: 54px;
        width: 744px;
    }
}
