.storage-capacity {
    .container {
        display: flex;
        gap: 24px;
    }

    .textfield {
        width: 144px;
    }

    .selectField {
        width: 144px;
    }

    .infoMsg {
        width: 330px;
    }
}
