.password-container {
    .textArea {
        margin-top: 40px;
        display: flex;
        gap: 24px;

        .textField {
            width: 250px;
        }
    }

    .tooltipContainer {
        display: flex;

        .dialogFooterDialog {
            position: relative;
            left: -15px;
        }
    }
}

.infoMsg {
    width: 320px;
    margin-left: -2px;

    .list {
        margin-top: 16px;
        display: flex;
        gap: 8px;
        flex-direction: column;

        .listItem {
            display: flex;
            gap: 16px;
        }

        .textWidth {
            width: 256px;
        }
    }
}

.fsxadmin-password {
    @extend .password-container;
}

.sqlserver-password {
    @extend .password-container;
}

.oracleserver-password {
    @extend .password-container;
}

.radio-container {
    background-color: var(--hover-background);
    padding: 16px 40px;
    display: flex;
    gap: 32px;
    margin: 40px 0 40px 0;
    height: 56px;
    width: 100%;
}
