.password-container {
    .textArea {
        margin-top: 40px;
        display: flex;
        gap: 24px;

        .textField {
            width: 250px;
        }
    }

    .tooltipContainer {
        display: flex;

        .dialogFooterDialog {
            position: relative;
            left: -15px;
        }
    }
}

.infoMsg {
    width: 320px;
    margin-left: -2px;

    .list {
        margin-top: 16px;
        display: flex;
        gap: 8px;
        flex-direction: column;

        .listItem {
            display: flex;
            gap: 16px;
        }

        .textWidth {
            width: 256px;
        }
    }
}

.fsx-password {
    @extend .password-container;
}

.sql-password {
    @extend .password-container;
}
