.detectContent {
    width: 55.41%;
    max-height: 672px;
    padding: 40px;
    background-color: var(--content-background);
    box-shadow: 2px 2px 6px 0px var(--border-drop-shadow, #e0e0e0);

    .detectInstanceSelect {
        width: 472px;
        margin: 0 auto;
        margin-bottom: 80px;
    }

    .radio-container {
        background-color: var(--hover-background);
        padding: 16px 40px;
        display: flex;
        gap: 32px;

        margin-bottom: 40px;
        height: 56px;
        width: 100%;
    }

    .firstSection {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .secondSection {
        margin-bottom: 40px;
    }
    .textFieldContainer {
        display: flex;
        gap: 24px;
        margin-top: 16px;

        .textFieldStyle {
            width: 48.7%;
            margin-bottom: 0 !important;
        }
    }

    .optionalSectionContainer {
        display: flex;
        align-items: center;
        gap: 20px;

        .optionalSection {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .optionalText {
            color: var(--text-secondary);
        }
    }
}

.detectFormatOption {
    display: flex;
    flex-direction: column;

    .detectOptionValue {
        display: flex;
        gap: 16px;
        align-items: center;

        .status {
            display: flex;
            gap: 8px;
            align-items: center;

            .statusIcon {
                width: 10px;
                height: 10px;
                border-radius: 50%;
            }
        }
    }
}

.detectInstanceSelect {
    [class*='dsCheckbox'] {
        gap: 16px !important;
    }

    [class*='itemsContainer'] {
        max-height: 350px !important;
    }
}
