.viewCalculations {
    background-color: var(--main-background);
    overflow-y: auto;
    width: 100vw;
    overflow-x: hidden;

    .breadCrumb {
        margin-top: 24px;
        margin-left: 40px;

        display: flex;
        justify-content: space-between;

        [class*='BreadCrumbs_bread-crumbs'] {
            position: relative;
            top: -3px;
        }
    }

    .mainSection {
        margin: 40px;

        .headingArea {
            display: flex;
            justify-content: space-between;

            .topHeading {
                width: 752px;
                gap: 8px;
                display: grid;
            }
        }

        .calcSection {
            display: grid;
            gap: 32px;
            margin-bottom: 60px;
        }
    }
}

@media screen and (min-width: 1920px) {
    .viewCalculations {
        .mainSection {
            width: 73.22%;
        }
    }
}
