.transactions {
    width: 384px;
    height: 242px;
    background: var(--light-background-content-background, #fff);

    /* Light/Drop shadow/level 1 */
    box-shadow: 2px 2px 6px 0px #e0e0e0;
    padding: 24px;
}
