.aws-account {
    .default-sub-text {
        color: var(--grey-50);
        /* Body/14 . Regular */
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px; /* 171.429% */
    }

    .list {
        display: flex;
        flex-direction: column;
        margin-top: 16px;
        gap: 16px;

        .listItem {
            display: flex;
            gap: 16px;

            .textWidth {
                width: 689px;
            }
        }
    }

    .info {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .noteText {
        width: 709px;
    }

    .sub-text {
        color: var(--grey-50);
        /* Body/14 . Regular */
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        width: 518px;
        line-height: 24px; /* 171.429% */
    }

    .thirdLine {
        width: 709px;
        line-height: 27px;
    }

    .steps {
        margin-top: 12px;
    }

    .lineHeight {
        line-height: 27px;
    }

    .bold {
        font-weight: 600;
    }

    .selectField {
        width: 476px;
        margin-top: 16px;
    }

    .bottomText {
        color: var(--grey-50);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }
}
