.aws-account {
    .default-sub-text {
        color: var(--text-primary);
        /* Body/14 . Regular */
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px; /* 171.429% */
    }

    .openIntab {
        text-decoration: none;
        color: var(--button-secondary);
        font-weight: 500;
    }

    .list {
        display: flex;
        flex-direction: column;
        margin-top: 16px;
        gap: 16px;

        .listItem {
            display: flex;
            gap: 16px;

            .textWidth {
                width: 689px;
            }
        }
    }

    .info {
        margin-top: 16px;
        margin-bottom: 16px;

        button {
            span:first-letter {
                text-transform: lowercase;
            }
        }
    }

    .noteText {
        width: 773px;
        button {
            span:first-letter {
                text-transform: none;
            }
        }
    }

    .sub-text {
        color: var(--text-primary);
        /* Body/14 . Regular */
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        width: 918px;
        line-height: 24px; /* 171.429% */
    }

    .thirdLine {
        width: 709px;
        line-height: 27px;
    }

    .steps {
        margin-top: 12px;
    }

    .lineHeight {
        line-height: 27px;
    }

    .bold {
        font-weight: 600;
    }

    .selectField {
        width: 476px;
        margin-top: 16px;
    }

    .bottomText {
        color: var(--text-primary);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

    .listItem {
        display: flex;
        gap: 16px;
    }

    .options {
        display: flex;
        gap: 4px;
    }

    .icon {
        margin-top: 3px;
    }

    .noaccount {
        display: grid;
        gap: 24px;
    }

    .noaccount_options {
        display: flex;
        gap: 8px;
    }

    .permissionError {
        display: flex;
        gap: 4px;
        margin-top: 24px;
    }

    .buttonStyle {
        width: 750px;
        margin-bottom: 16px;
        button {
            span:first-letter {
                text-transform: none;
            }
        }
    }
}

// [class*='FlexLayout-module_base'] {
//     width: auto !important;
//     min-width: 500px !important;
// }


.setWidth {
    width: 1064px;

    [class*='DialogLayout-module_dialog-content'] {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}
