.heading-content {
    width: 100%;
    position: relative;
    left: 10%;
}

.title {
    width: 196px;
}

.accordion-group {
    width: 1063px;
    margin-top: 32px;
}

.separator {
    border-right: 1px solid var(--grey-15);
    height: 16px;
    position: relative;
    top: 4px;
}

.text-disabled {
    color: var(--text-disabled) !important;
}

.regular {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: var(--text-primary);
}

.setHeaderStyle {
    display: flex;
    gap: 16px;
    font-size: 14px;
    color: var(--text-primary);
    line-height: none !important;
}

.buttonClass {
    span {
        text-transform: none !important;
    }
}

.row {
    display: flex;
    gap: 24px;
    box-shadow: 0px -1px 0px 0px var(--border) inset;
    padding: 16px 0 16px 40px;
}
.heading {
    width: 160px;
}
.valueCSS {
    max-width: 210px;
}

@media screen and (max-width: 1350px) {
    .accordion-group {
        width: 1032px;
    }
}

@media screen and (min-width: 1351px) and (max-width: 1520px) {
    .accordion-group {
        width: 1128px;
    }
}
