.heading-content {
    width: 100%;
    position: relative;
    left: 10%;
}

.title {
    width: 196px;
}

.accordion-group {
    // width: 1063px;
    margin-top: 32px;
}

.textWithTooltip {
    display: flex;
    gap: 8px;
    align-items: center;
}

.separator {
    border-right: 1px solid var(--grey-15);
    height: 16px;
    position: relative;
    top: 4px;
}

.separatorSandbox {
    border-right: 1px solid var(--grey-15);
    height: 16px;
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
}

.text-disabled {
    color: var(--text-disabled) !important;
}

.regular {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: var(--text-primary);
}

.setHeaderStyle {
    display: flex;
    gap: 16px;
    font-size: 14px;
    color: var(--text-primary);
    line-height: none !important;
}

.setHeaderStyleSandbox {
    font-size: 14px;
    color: var(--text-primary);
    line-height: none !important;
    overflow: hidden;
    white-space: unset;
    text-overflow: ellipsis;
    max-width: 650px;
}

.buttonClass {
    span {
        text-transform: none !important;
    }
}

.row {
    display: flex;
    gap: 24px;
    box-shadow: 0px -1px 0px 0px var(--border) inset;
    padding: 16px 0 16px 40px;
}
.heading {
    min-width: 160px;
}
.valueCSS {
    max-width: 210px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.circleSVG {
    width: 56px;
    height: 56px;
    background-color: #e8eefd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notAvailable {
    color: var(--text-disabled) !important;
}

.notAvailableInformation {
    position: relative;
    top: 13px;
    height: 38px;
}

@media screen and (max-width: 1350px) {
    .accordion-group {
        // width: 1032px;
    }
}

@media screen and (max-width: 1500px) {
    .circleSVG {
        width: 48px;
        height: 48px;
    }

    .setHeaderStyleSandbox {
        white-space: nowrap;
    }
}

@media screen and (min-width: 1351px) and (max-width: 1520px) {
    .accordion-group {
        // width: 1128px;
    }
}

.popover {
    display: flex;
    max-width: 400px;
    padding: 8px 12px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background-color: var(--content-background);
    box-shadow: 4px 4px 12px 0px var(--grey-15);
}

.wrapTextIn2Line {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 24px;
}

.exploreSavingsCalculation {
    .accordionContentSet {
        [class*='Layout_grid-item'] {
            height: 64px !important;
            display: flex;
            align-items: center;
            padding-left: 24px !important;
        }
    }
    [class*='AccordionCard-module_accordion-card-content'] {
        padding-right: 40px !important;
    }
    .heading-content {
        width: 100%;
        position: relative;
        left: 15%;
    }
}

.loaderOverlay {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 70%;
    background-color: var(--text-primary);
    z-index: 3;
}

.spinnerPlacement {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 4;
}

.commonBreadCrumb {
    margin-top: 24px;
    width: 100%;
    position: relative;
    left: 5%;

    [class*='BreadCrumbs_bread-crumbs'] {
        position: relative;
        top: -3px;
    }
}

.protectionIcons {
    display: flex;
    gap: 32px;
    align-items: center;
    cursor: pointer;

    svg {
        position: relative;
        top: 2px;
    }
}

.protectionTooltipPopOver {
    display: contents;
}
