.base {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-column-gap: 24px;
}

.datumContainer {
    display: flex;
    position: relative;
}

.spanStyle {
    height: 48px;
    width: 231px;
    text-align: center;
}

.datum {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: height 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 100%;
    align-self: flex-end;
}

.column {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
    overflow: hidden;

    &.hasData {
        padding-top: 48px;
    }
}

.xLabel {
    display: flex;
    justify-content: center;
    padding-top: 16px;
    overflow: hidden;
}

.yLabel {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    transform: translateY(calc(-100% - 24px));
    transition: top 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}
