.base {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-column-gap: 24px;
}

.datumContainer {
    display: flex;
    position: relative;
}

.spanStyle {
    height: 48px;
    width: 231px;
    text-align: center;
}

.datum {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: height 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 100%;
    align-self: flex-end;

    .popover {
        max-width: 325px;
        font-size: 13px;
        font-weight: 400;
        line-height: 20px;
    }
}

.squareChart3 {
    width: 12px;
    height: 12px;
    background-color: var(--chart-3);
}

.squareChart2 {
    width: 12px;
    height: 12px;
    background-color: var(--chart-2);
}

.tooltipContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 260px;

    .tooltipContentRowFirst {
        display: flex;
        gap: 8px;
        align-items: center;
        margin-top: 8px;
    }
}

.column {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
    overflow: hidden;

    &.hasData {
        padding-top: 48px;
    }
}

.xLabel {
    display: flex;
    justify-content: center;
    padding-top: 16px;
    overflow: hidden;

    .xContainer {
        display: flex;
        gap: 16px;
        align-items: baseline;
        justify-content: center;
        height: 48px;
        width: 231px;

        .xContainerInner {
            display: flex;
            gap: 8px;
            align-items: center;
        }
    }
}

.yLabel {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    transform: translateY(calc(-100% - 24px));
    transition: top 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

.stackSegment {
    width: 100%;
    transition: height 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

.tooltip {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    pointer-events: none;
    z-index: 10;
}
