.renderTable {
    width: 100%;

    [class*='header-row'] {
        [class*='header-cell']:nth-last-child(2) {
            [class*='right-border'] {
                display: none !important;
            }
        }
    }

    .disabled {
        color: var(--text-disabled);
    }

    .menuIcon {
        font-weight: 600;
        color: var(--text-title);
        font-size: 22px;
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 16px;

        &.selected {
            border: 1.5px solid var(--text-title);
            border-radius: 9px;
        }

        &:hover {
            cursor: pointer;
            border: 1.5px solid var(--selector-on-bg);
            border-radius: 9px;
        }

        .menuPointer {
            height: 40px;
        }
    }
    .statusContainer {
        display: flex;
        gap: 8px;
        align-items: center;

        .statusIcon {
            width: 10px;
            height: 10px;
            align-self: center;
            &.circle {
                border-radius: 50%;
                // margin-top: 2px;
            }
            &.online {
                background-color: var(--green-60);
            }
            &.offline {
                background-color: var(--red-30);
            }
            &.unknown {
                background-color: var(--grey-25);
            }
        }
    }

    .arrow {
        display: flex;
        justify-content: end;

        svg {
            transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            &.arrow-down {
                transform: rotate(270deg);
                -webkit-transform: rotate(270deg);
            }
            &.arrow-disable {
                path {
                    fill: var(--text-disabled);
                }
            }
        }
    }

    [class*='Table-module_high-row'] {
        background-color: var(--content-background) !important;
    }

    .jobMenuPopover {
        margin-left: -13px;
        [class*='MenuPopover_menuPointer'] {
            background: none !important;
        }

        .disabled {
            color: var(--text-disabled);
        }
    }

    .menuPointerDisabled {
        margin-left: -13px;
        font-weight: 600;
        font-size: 22px;
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--text-disabled);

        .menuPointer {
            height: 40px;
        }
    }

    .menuContainer {
        display: flex;
        align-items: center;
        gap: 48px;
        justify-content: flex-end;
        width: 100%;

        [class*='dsButtons'] {
            border-radius: 20px !important;
        }

        .reactiveButtonContainer {
            display: flex;
            gap: 34px;

            .postponeContainer {
                display: flex;
                gap: 8px;
                align-items: center;
                width: 204px;
            }

            [class*='dsButtons'] {
                border-radius: 20px !important;
            }
        }
    }

    .toggle {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

.colorSet {
    div {
        color: var(--text-primary);
    }
}

[class*='dropdown-container'] {
    button {
        color: var(--text-primary) !important;
    }
}
