.well-architected {
    width: 100%;
    .cards {
        width: 100%;
        margin-top: 24px;
        justify-content: center;

        display: flex;
        gap: 24px;
    }

    .sectionTwo {
        width: 100%;
        margin-top: 26px;

        [class*='accordionHeader'] {
            height: 56px !important;
        }

        .downloadSectionHeader {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        .accordionGroups {
            display: flex;
            gap: 24px;
            flex-direction: column;

            .headerAction {
                display: flex;
                gap: 10px;
                align-items: center;

                .dark-theme-light {
                    svg {
                        path {
                            fill: var(--cyan-60);
                        }
                    }
                }
            }

            .tagPlacement {
                display: flex;
                gap: 16px;
            }
        }
        .sectionClass {
            display: flex;
            flex-direction: column;
        }
    }
}
