.well-architected {
    width: 100%;

    .loader {
        height: inherit;
        overflow: auto;
        background-color: var(--main-background);
    }

    .cards {
        width: 100%;
        margin-top: 24px;
        justify-content: center;

        display: flex;
        gap: 24px;
    }

    .sectionTwo {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 40px;

        [class*='accordionHeader'] {
            height: 56px !important;
        }

        .downloadSectionHeader {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .downloadSection {
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
            }

            .downloadSectionDisable {
                display: flex;
                justify-content: space-between;
                align-items: center;

                svg {
                    path {
                        fill: var(--text-disabled);
                    }
                }
            }

            .configurationText {
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }

            .rightSection {
                display: flex;
                align-items: center;
                gap: 24px;
            }
        }

        .accordionGroups {
            display: flex;
            gap: 24px;
            flex-direction: column;

            .headerAction {
                display: flex;
                gap: 10px;
                align-items: center;

                .dark-theme-light {
                    svg {
                        path {
                            fill: var(--cyan-60);
                        }
                    }
                }
            }

            .tagPlacement {
                display: flex;
                gap: 16px;

                .dismissed {
                    * {
                        color: var(--text-disabled) !important;
                        background-color: var(--chart-disabled) !important;
                        border: unset;
                    }
                }
            }
        }
        .sectionClass {
            display: flex;
            flex-direction: column;
        }
    }

    [class*='isExpanded'] {
        max-height: 2500px !important;
        overflow: hidden;
    }
}
