.topology {
    // padding: 24px 0 40px 40px;
    width: 955px;
    height: 512px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .topologyHeading {
        margin-top: 24px;
        margin-left: 40px;
    }

    .topologyChart {
        width: 955px;
        height: 472px;
        margin-left: 40px;
        opacity: 0.8;
        background: rgba(245, 245, 245, 0.2);

        /* Light/Drop shadow/level 1 */
        box-shadow: 2px 2px 6px 0px #e0e0e0;
    }
}
