.fsx {
    .handleRadio {
        display: flex;
        gap: 32px;
    }

    .firstContainer {
        margin-top: 16px;
        
        [class*='design-system-select__single-value'] {
            max-width: 326px !important;
        }
    }

    .textField {
        width: 396px;
    }

    .textFieldPassword {
        width: 312px;
        height: 66px;
    }

    .secondContainer {
        display: flex;
        gap: 24px;
        margin-top: 40px;
    }

    .createNewContainer {
        display: flex;
        gap: 24px;
        margin-top: 16px;
    }

    .infoMsg {
        width: 452px;
        margin-left: -12px;
        // margin-top: -10px;
        .bulletContainer {
            display: flex;
            gap: 12px;
        }

        ul {
            li:first-child {
                margin-bottom: 8px;
            }
            li:last-child {
                margin-top: 8px;
            }
        }
    }

    [class*='tooltip-base'] {
        max-width: 452px !important;
    }
}
