.createNewSandboxContent {
    margin-top: 40px;
    .heading {
        display: flex;
        justify-content: center;
    }

    .accordionContainer {
        margin-top: 40px;
        width: 1063px;
    }
}

@media screen and (max-width: 1500px) {
    .createNewSandboxContent {
        .accordionContainer {
            width: 647px;
            [class*='AccordionCard-module_header'] {
                grid-template-columns: minmax(136px, max-content) 316px max-content max-content max-content !important;
            }
            [class*='headerSetter'] {
                left: -6%;
                max-width: 288px;
                width: 313px;
                white-space: nowrap;
                /* display: flex; */
                min-width: 351px;
                text-overflow: ellipsis;
                overflow-x: hidden;
            }
        }
    }
}
