.snapshotPolicy {
    .handleToggle {
        margin-top: 16px;
        [class*='ToggleSelector-module_text'] {
            font-weight: 500 !important;
        }
    }

    .textArea {
        margin-left: 56px;
        margin-top: 8px;
    }
}
