.mainSection {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .row {
        display: flex;
        gap: 24px;

        .deploymentModelWidth {
            width: 276px;
            height: 70px;
        }
    }
}
