.assessment {
    width: 87.3%;
    height: 72px;
    background-color: var(--content-background);
    box-shadow: 2px 2px 6px 0px #e0e0e0;
    padding: 12px 40px;
    display: flex;
    margin-top: 24px;
    margin-bottom: 16px;
    justify-content: space-between;
    align-items: center;

    .leftSide {
        .leftContainer {
            display: flex;
            gap: 16px;
            align-items: center;

            .textSection {
                display: flex;
            }
        }
    }
}

@media screen and (max-width: 1920px) {
    .assessment {
        max-width: 1608px;
    }
}
