.codeBox {
    margin-top: 20px;

    .highlightWord {
        color: var(--red-20);
    }

    .commaColor {
        color: var(--white);
    }

    .infoColor {
        color: var(--blue-40);
    }

    .boolColor {
        color: var(--orange-15);
    }

    .marginFIfteen {
        margin-left: 15px;
        color: var(--blue-30);
    }

    .marginThirty {
        margin-left: 30px;
    }

    .singleArrayItem {
        margin-left: 30px;
        color: var(--green-20);
    }

    .startArray {
        margin-left: 15px;
        color: var(--blue-30);
    }

    .blue50Color {
        color: var(--blue-30);
    }

    .green40Color {
        color: var(--green-20);
    }

    .red20Color {
        color: var(--red-20);
    }

    .startFlex {
        display: flex;
        margin-left: 15px;
    }
}
