.collationField {
    width: 384px;
}
.note-collation {
    display: flex;
    gap: 8px;
    align-items: center;
    .noteHeading {
        font-weight: 590 !important;
    }
    .note-svg {
        position: relative;
        top: 2px;
    }
}
