.noCredBanner {
    height: 88px;
    background-color: var(--notification-warning-bg);
    box-shadow: 2px 2px 6px 0px var(--border);
    padding: 16px 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    gap: 8px;

    .topSection {
        display: flex;
        justify-content: space-between;

        .image {
            cursor: pointer;
        }
    }

    .firstSegment {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .secondSegment {
        display: flex;
        align-items: center;
        gap: 6px;
    }
}
