.simple {
    .subText {
        margin-top: 32px;
    }

    .selectField {
        width: 396px;
        margin-top: 16px;

        [class*='design-system-select__single-value'] {
            max-width: 326px !important;
        }
    }

    .headingValue {
        width: 318px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    [class*='separator'] {
        top: 0px;
    }
}
