.simple {
    .subText {
        margin-top: 32px;
    }

    .selectField {
        width: 396px;
        margin-top: 16px;
    }

    .headingValue {
        width: 550px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
