.rebaseRollBack {
    height: 130px;

    .secondLine {
        margin-top: 24px;
    }

    .widthSet {
        margin-top: 24px;
        width: 460px;
        position: fixed;
    }

    .radioContainer {
        height: 56px;
        display: flex;
        flex-direction: row;
        gap: 40px;
        background-color: var(--blue-10);
        padding-left: 24px;
    }
}
