.crrRedirectionContent {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.crrDataDialog {
    width: 792px;
}

.crrDataDialogContent {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 8px 0;

    .networkInfoBox {
        background-color: var(--background-main);
        border-radius: 4px;
        padding: 12px 16px;
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .radioGroup {
        display: flex;
        gap: 24px;
        align-items: center;
    }

    .selectBox {
        width: 100%;
    }

    .optionLabel {
        display: flex;
        flex-direction: column;
        gap: 2px;

        .optionText {
            white-space: normal;
            word-break: break-word;
        }

        .optionSubText {
            white-space: normal;
            word-break: break-word;
            color: var(--text-secondary);
        }
    }
}
