.valueCard {
    width: 926px;
    height: 96px;
    padding: 16px 40px;
    background-color: var(--content-background);
    box-shadow: 2px 2px 6px 0px var(--border-drop-shadow, #e0e0e0);
    border-bottom: 1px solid var(--border);
    display: flex;
    gap: 24px;

    .block {
        display: flex;
        flex-direction: column;
        gap: 4px;
        width: 200px;
        height: 56px;
    }
}
