.valueCard {
    width: 926px;
    height: 96px;
    padding: 16px 40px;
    background-color: var(--content-background);
    box-shadow: 2px 2px 6px 0px var(--border-drop-shadow, #e0e0e0);
    // border-bottom: 1px solid var(--border);
    display: flex;
    gap: 24px;

    .block {
        display: flex;
        flex-direction: column;
        gap: 4px;
        width: 200px;
        height: 56px;

        .configContainer {
            display: flex;
            gap: 8px;
            align-items: center;
        }

        .configState {
            display: flex;
            align-items: center;
            gap: 16px;
            svg {
                cursor: pointer;
                path {
                    fill: var(--grey-50);
                }
            }

            .editButton {
                cursor: pointer;

                &.disabled {
                    opacity: 0.5;
                    cursor: not-allowed;
                }
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    .valueCard {
        width: calc(926px + ((100vw - 1920px) * 0.6941));

        .block {
            width: calc(200px + ((100vw - 1920px) * 0.2159));
        }
    }
}
