.valueCard {
    height: 96px;
    padding: 16px 40px;
    background-color: var(--content-background);
    box-shadow: 2px 2px 6px 0px var(--border-drop-shadow, #e0e0e0);
    display: flex;
    gap: 24px;

    .cardContent {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: minmax(140px, 200px);
        align-items: center;
        gap: 24px;
        flex-wrap: nowrap;
        overflow-x: hidden;
    }

    .column {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        border-right: 1px solid var(--border);
        padding-right: 16px;
    }

    .titleText {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 16px;

        .valueSection {
            margin-left: 8px;
        }
    }

    .label {
        margin-top: 4px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .block {
        display: flex;
        flex-direction: column;
        gap: 4px;
        width: 200px;
        height: 56px;

        .configContainer {
            display: flex;
            gap: 8px;
            align-items: center;
        }

        .configState {
            display: flex;
            align-items: center;
            gap: 16px;
            svg {
                cursor: pointer;
                path {
                    fill: var(--grey-50);
                }
            }

            .editButton {
                cursor: pointer;

                &.disabled {
                    opacity: 0.5;
                    cursor: not-allowed;
                }
            }
        }
    }
}
