.chartBarContainer {
    width: 100%;
    height: 100%;
    min-height: 200px;
    position: relative;

    .noData {
        position: absolute;
        left: 45%;
        top: 40%;

        .loadingText {
            margin-left: -30%;
            display: flex;
            flex-direction: row;
            gap: 8px;
        }

        svg {
            path {
                fill: var(--grey-30);
            }
        }
    }

    canvas {
        width: 100% !important;
        height: 100% !important;
    }
}

.externalTooltip {
    position: absolute;
    pointer-events: none;
    transition: all 0.08s ease;
    background: transparent;
    z-index: 9999;
}

.tooltipInner {
    background: var(--content-background);
    color: var(--text-primary);
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 13px;
    font-family: Inter, sans-serif;
    white-space: nowrap;
    box-shadow: 2px 2px 6px 0 var(--drop-shadow);
}
