.sandboxStorageSaving {
    width: 66.12%;
    box-shadow: 2px 2px 6px var(--grey-15);

    background-color: var(--content-background);

    .largeContainer {
        height: 116px;
        // width: 1064px;
        max-width: 1064px;
        display: flex;

        .secondSegment {
            padding: 36px 40px 20px 32px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            width: 68.32%;

            .secondRow {
                display: flex;
                gap: 32px;

                .bottomRow {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    .square {
                        width: 12px;
                        height: 12px;
                    }
                }
            }
        }
    }

    .firstSegment {
        height: 116px;
        padding-top: 24px;
        padding-bottom: 24px;
        padding-left: 40px;
        display: flex;
        gap: 20px;

        .rightSection {
            display: flex;
            flex-direction: column;
        }
    }

    .setWidth {
        padding-right: 0;
        width: 31.39%;
    }

    .progressBar {
        width: 100%;
        height: 16px;
        background-color: var(--content-background);
        display: flex;
        align-items: center;

        .progress {
            height: 100%;
        }

        .leftCurveBar {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
        }

        .rightCurveBar {
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        }

        .separator {
            width: 1px;
            height: 100%;
            background-color: var(--content-background);
        }
    }

    .smallContainer {
        width: 651px;
        height: 116px;
        display: flex;
        gap: 20px;

        .separator {
            border-right: 1px solid var(--field-border-disabled);
            height: 58px;
            margin-top: 24px;
        }

        .consumedSaving {
            display: flex;
            flex-direction: column;
            width: 127px;
            padding-top: 24px;
        }
        .valueContainer {
            display: flex;
            gap: 11px;

            .setUnit {
                position: relative;
                bottom: -15px;
            }
        }
    }

    .loadingContainer {
        height: 35px;
        display: flex;
    }
}

@media screen and (min-width: 1429px) and (max-width: 1800px) {
    .sandboxStorageSaving {
        .setWidth {
            width: 42.39% !important;
        }
    }
}

@media screen and (max-width: 1428px) {
    .sandboxStorageSaving {
        width: 66%;
    }
}

@media screen and (min-width: 1920px) {
    .sandboxStorageSaving {
        max-width: unset;
        .largeContainer {
            max-width: unset;
        }
    }
}
