.oracleEbsTable {
    width: 100%;

    [class*='header-name'] {
        [class*='Checkbox-module'] {
            display: none !important;
        }
    }

    [class*='disabled-row'] {
        [class*='Typography'] {
            color: var(--text-disabled) !important;
        }
    }
}
