.oracle-tco-tables {
    width: 100%;
    margin-bottom: 40px;

    .lasColContainer {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .topBarInstanceStyle {
        z-index: 4 !important;
        .infoContainer {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .item {
                display: flex;
                align-items: center;
                gap: 16px;
            }
        }
    }
}
