.oracle-tco-tables {
    width: 100%;
    margin-bottom: 40px;

    .lasColContainer {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .container {
        display: flex;
        gap: 8px;
        .sqlServerInstance {
            max-width: 261px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .colorText {
            cursor: pointer;
            color: var(--text-button-primary);
        }
        [class*='Popover-module_base'] {
            max-height: 180px;
            overflow: auto;
        }
        ::-webkit-scrollbar {
            width: 4px;
        }
    }

    .topBarInstanceStyle {
        z-index: 4 !important;
        .infoContainer {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .item {
                display: flex;
                align-items: center;
                gap: 16px;
            }
        }
    }
}
