.databaseHost {
    margin-top: 28px;
    width: 1063px;
    height: 176px;
    background-color: var(--content-background);
    box-shadow: 2px 2px 6px var(--grey-15);

    .leftContainer {
        margin-top: 40px;
        margin-left: 40px;
        display: flex;

        .databaseHostsContainer {
            margin-left: 32px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .databaseNumber {
                line-height: unset;
            }

            .databaseText {
                line-height: unset;
            }

            .databaseContent {
                width: 80px;
                display: flex;
                gap: 4px;
            }
        }

        .dbHostSeparator {
            margin-left: 16px;
            background: var(--border);
            width: 1px;
            height: 56px;
            margin-top: 20px;
        }

        .databaseHostStatusContainer {
            margin-left: 40px;
            margin-top: -16px;
            display: flex;
            flex-direction: column;

            .statusContainer {
                display: flex;
                margin-top: 5px;
                gap: 8px;

                .layout {
                    border-radius: 2px;
                    background: rgba(232, 238, 253, 0.4);
                    padding: 18px 0px 12px 24px;
                    width: 200px;
                    height: 84px;
                    display: flex;
                    flex-direction: column;
                    gap: 6px;

                    .firstRow {
                        display: flex;
                        gap: 8px;

                        svg {
                            position: relative;
                            top: 2px;
                            width: 20px;
                            height: 20px;
                        }
                    }

                    .secondRow {
                        line-height: unset;
                    }

                    .secondRowContent {
                        display: flex;
                        gap: 8px;
                    }
                }
            }
        }
    }
}

// @media screen and (min-width: 1576px) and (max-width: 1720px) {
//     .databaseHost {
//         width: 1012px !important;

//         .dbHostSeparator {
//             margin-left: 60px !important;
//         }
//     }
// }
