.headerCard {
    width: 79%;
    height: 116px;
    background-color: var(--hover-background);
    box-shadow: 2px 2px 6px 0 var(--border-drop-shadow, #e0e0e0);
    padding: 16px 40px;
    display: flex;
    align-items: center;
    gap: 40px;

    &.disabled {
        color: var(--text-disabled);
        pointer-events: none;

        [class*='Typography'] {
            color: var(--text-disabled) !important;
        }
    }

    .rightSide {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 41.3%;
        min-width: 552px;

        .sectionTitle {
            width: 13.6%;
            min-width: 182px;
        }

        .radioGroup {
            display: flex;
            gap: 34px;
            width: 100%;

            [class*='RadioButton'] {
                flex-shrink: 0;
                white-space: nowrap;
            }
        }
    }
}
