.contentComponent {
    .accordionContainer {
        margin-top: 40px;
    }

    .heading {
        margin-left: 40%;
    }

    .headingHost {
        margin-top: 8px;
        margin-left: 40%
    }
}
