.credentials {
    .secondContainer {
        display: flex;
        gap: 24px;
    }

    .textField {
        width: 312px;
        height: 68px;
    }

    .infoMsg {
        width: 320px;
        margin-left: -2px;
    }

    .list {
        margin-top: 16px;
        display: flex;
        gap: 8px;
        flex-direction: column;

        .listItem {
            display: flex;
            gap: 16px;
        }

        .textWidth {
            width: 256px;
        }
    }
    .lastItem {
        margin-top: 10px;
        width: 296px;
    }
}
