.oracle-inner-pages {
    height: inherit;
    overflow: auto;
    background-color: var(--main-background);
    width: 100%;
    padding: 0 120px 0 120px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .breadCrumb {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-left: -80px;
    }

    .rightSection {
        display: flex;
        gap: 24px;

        .buttonContainer {
            position: relative;
            top: 3px;
        }
        .refreshIcon {
            cursor: pointer;
            svg {
                --icon-primary-color: var(--button-secondary);
                width: 20px;
                height: 20px;
                margin-top: 5px;
            }
        }
    }
}
