.storageCardComponent {
    height: 88px;
    box-shadow: 2px 2px 6px var(--grey-15);
    background-color: var(--content-background);
    padding: 16px 40px;
    display: flex;
    align-items: center;
    gap: 24px;

    .commonSection {
        display: flex;
        flex-direction: column;
        gap: 4px;
        height: 56px;
        width: 224px;
        border-right: 1px solid var(--border);

        .statusTopSection {
            display: flex;
            gap: 4px;

            .svgSection {
                position: relative;
                left: -4px;
            }
        }
    }

    .firstSection {
        width: 248px;
    }

    .thirdSection {
        display: flex;
        flex-direction: column;
        gap: 4px;
        height: 64px;
        width: 224px;
        border-right: 1px solid var(--border);
    }

    // .fourthSection {
    //     display: flex;
    //     flex-direction: column;
    //     height: 93px;
    //     width: 330px;
    //     position: relative;
    //     top: 5px;
    // }

    .fourthSection {
        width: 330px;
    }

    .separator {
        height: 56px;
        border-right: 1px solid var(--border);
        margin-left: -24px;
    }

    .buttonSection {
        width: 170px;
        display: flex;
        justify-content: end;
        [class*='dsButtons'] {
            height: 32px !important;
            min-width: 140px !important;
        }

        .disabled {
            background-color: var(--grey-15);
            color: var(--text-primary);
        }
    }

    .spinnerPlacement {
        // position: fixed;
        svg: {
            height: 24px;
            width: 25px;
        }
        
    }
}

.colorSet {
    div {
        color: var(--text-primary);
    }
}
