.region-vpc {
    .regionSelect {
        width: 396px;
    }

    .regionSubText {
        width: 396px;
    }

    .handleRadio {
        margin-top: 20px;
        display: flex;
        gap: 32px;
    }

    .handleSelect {
        width: 396px;
        margin-top: 16px;
    }
}
