.dashboardInnerPage {
    height: inherit;
    overflow: auto;
    width: 100%;
    padding: 0 120px;
    background-color: var(--main-background);

    .breadCrumb {
        margin-top: 24px;
        width: 100%;
        position: relative;
        left: -5%;
    }

    .innerPage {
        .breadCrumbSection {
            margin-top: 16px;
            width: 100%;
            position: relative;
            left: -5%;
        }

        .headingSection {
            margin-top: 40px;
            display: flex;
            gap: 16px;

            align-items: center;

            .dismissPageMessage {
                max-width: 69.47%;
                min-width: 1334px;
                text-align: center;
                overflow-wrap: break-word;
            }
        }

        .mainSection {
            display: flex;
            justify-content: center;
            margin-top: 24px;
            width: 100%;

            .contentSection {
                width: 80%;
            }

            .leftSection {
                display: flex;
                gap: 1px;
                flex-direction: column;
                width: 68%;

                .recommendation {
                    background-color: var(--content-background);

                    box-shadow: 2px 2px 6px 0px var(--border);
                }
            }
        }

        .tableSection {
            margin-top: 40px;
            display: flex;
            justify-content: center;
            margin-bottom: 20px;

            .buttonContainer {
                display: flex;
                justify-content: space-between;
                width: 92%;

                [class*='dsButtons'] {
                    border-radius: 20px !important;
                }
            }

            .reactiveButtonContainer {
                display: flex;
                gap: 34px;

                .postponeContainer {
                    display: flex;
                    gap: 8px;
                    align-items: center;
                    width: 204px;
                }

                [class*='dsButtons'] {
                    border-radius: 20px !important;
                }
            }
        }

        .contentSection {
            display: flex;
            justify-content: center;
        }
    }

    .buttonContainer {
        width: 90%;
        display: flex;
        justify-content: end;

        .optimize-in-progress {
            display: flex;
            flex-direction: row;
            gap: 8px;
            align-items: center;
            justify-content: center;
            width: 152px;
        }
    }
}

.dismissDialog {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
