.dashboardInnerPage {
    height: inherit;
    overflow: auto;
    background-color: var(--main-background);

    .innerPage {
        .headingSection {
            margin-top: 16px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .dismissPageMessage {
                max-width: 69.47%;
                min-width: 1334px;
                text-align: center;
                overflow-wrap: break-word;
            }
        }

        .mainSection {
            display: flex;
            justify-content: center;
            margin-top: 24px;

            .leftSection {
                display: flex;
                gap: 1px;
                flex-direction: column;

                .recommendation {
                    background-color: var(--content-background);
                    width: 926px;
                    box-shadow: 2px 2px 6px 0px var(--border);
                }
            }
        }

        .tableSection {
            margin-top: 40px;
            display: flex;
            justify-content: center;
            margin-bottom: 20px;

            .buttonContainer {
                display: flex;
                justify-content: space-between;
                width: 92%;

                [class*='dsButtons'] {
                    border-radius: 20px !important;
                }
            }
        }

        .contentSection {
            display: flex;
            justify-content: center;
        }
    }

    .buttonContainer {
        width: 90%;
        display: flex;
        justify-content: end;

        .optimize-in-progress {
            display: flex;
            flex-direction: row;
            gap: 8px;
            align-items: center;
            justify-content: center;
            width: 152px;
        }
    }
}

@media screen and (min-width: 1920px) {
    .dashboardInnerPage {
        .mainSection {
            .recommendation {
                width: calc(926px + ((100vw - 1920px) * 0.6941)) !important;
            }
        }
    }
}
