.categoryComponent {
    padding: 24px 0;
    height: 108px;
    display: flex;
    align-items: center;
    gap: 44px;

    .firstBlock {
        display: flex;
        gap: 24px;
        align-items: center;
        width: 160px;
    }

    .commonBlock {
        display: flex;
        flex-direction: column;
        min-width: 125px;
    }

    .thirdBlock {
        display: flex;
        flex-direction: column;
        min-width: fit-content;

        .commonBlockText {
            display: flex;
        }
    }

    .buttonBlock {
        display: flex;
        align-items: center;
    }
}

.dialog {
    max-width: 900px;
}

@media screen and (max-width: 1700px) {
    .categoryComponent {
        gap: 19px;

        .firstBlock {
            min-width: 150px;
            gap: 16px;
        }

        .buttonBlock {
            [class*='dsButtons'] {
                min-width: 136px !important;
                width: 136px !important;
            }
        }
    }
}
