.ebsCalculation {
    .accordionContentSet {
        [class*='Layout_grid-item'] {
            height: 64px !important;
            display: flex;
            align-items: center;
            padding-left: 24px !important;
        }
    }
    [class*='AccordionCard-module_accordion-card-content'] {
        padding-right: 40px !important;
    }
    margin-bottom: 80px;
}
