.optimizeByCategory {
    background-color: var(--content-background);
    width: 928px;
    height: 291px;
    box-shadow: 2px 2px 6px 0px #e0e0e0;

    .headSection {
        display: flex;
        height: 72px;
        padding: 12px 40px;
        align-items: center;
        border-bottom: 1px solid var(--border);
        justify-content: space-between;

        .rightSection {
            display: flex;
            gap: 8px;
        }
    }

    .mainSection {
        padding: 24px 40px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        .optimizeSeparator {
            border-top: 1px solid var(--border);
            width: 928px;
            margin-left: -40px;
        }

        .topSection {
            display: flex;
            gap: 40px;

            .tile1 {
                width: 240px;
                height: 60px;
                display: flex;
                gap: 24px;

                .section1 {
                    width: 56px;
                }
                .section2 {
                    width: 208px;
                    display: flex;
                    flex-direction: column;

                    .valueArea {
                        display: flex;
                        gap: 8px;
                        align-items: center;
                    }
                }
                .section3 {
                    border-right: 1px solid var(--border);
                }
            }

            .tile2 {
                width: 260px;
                display: flex;
                gap: 24px;
                .section1 {
                    width: 56px;
                }
                .section2 {
                    width: 208px;
                    display: flex;
                    flex-direction: column;
                    .valueArea {
                        display: flex;
                        gap: 8px;
                        align-items: center;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1700px) {
    .optimizeByCategory {
        width: 760px;
        .mainSection {
            gap: 16px !important;

            .optimizeSeparator {
                border-top: 1px solid var(--border);
                width: 760px;
                margin-left: -40px;
            }
        }
        .topSection {
            display: flex;
            gap: 16px !important;

            .tile1 {
                width: 223px !important;

                .section2 {
                    width: 119px !important;
                }
            }

            .tile2 {
                width: 199px !important;

                .section2 {
                    width: 119px;
                }
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    [class*='subSection'] {
        width: 48.33%;

        .optimizeByCategory {
            width: 100%;

            .mainSection {
                width: 100%;

                .optimizeSeparator {
                    width: 100%;
                }
                [class*='topSection'] {
                    width: 100%;
                    .tile1 {
                        width: 25.9%;

                        .section1 {
                            width: 23.33%;
                        }

                        .section2 {
                            width: 86.67%;
                        }
                    }
                }
            }
        }
    }
}
