.managedInstance {
    background-color: var(--content-background);
    width: 100%;
    height: 296px;

    box-shadow: 2px 2px 6px 0px #e0e0e0;

    .headSection {
        display: flex;
        height: 72px;
        padding: 12px 40px;
        align-items: center;
        border-bottom: 1px solid var(--border);
        justify-content: space-between;

        .ManageInstanceTooltipSection {
            display: flex;
            gap: 8px;
        }
    }

    .mainSection {
        padding: 40px;
        display: flex;
        gap: 56px;
        min-width: 0;
        overflow: hidden;

        .contentSection {
            display: flex;
            gap: 24px;
            align-items: center;
            min-width: 0;
            flex: 1 1 auto;
            overflow: hidden;

            .firstBlock {
                display: flex;
                flex-direction: column;
            }

            [class*='_valueText'] {
                font-size: 24px !important;
                line-height: 30px !important;
            }
            [class*='_square'] {
                width: 8px;
                height: 8px;
            }
        }
    }
    .loadingState {
        display: flex;
        gap: 8px;
        .loadingPosition {
            position: relative;
            top: 18px;
        }
    }

    .smallMainSection {
        padding: 40px 80px 40px 40px;
        display: flex;
        justify-content: space-between;

        .text {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .firstBlock {
                display: flex;
                gap: 8px;
                align-items: center;
            }
        }
    }
}
