.potentialSavings {
    background-color: var(--content-background);
    width: 50%;
    height: 567px;
    box-shadow: 2px 2px 6px 0px #e0e0e0;

    .headSection {
        display: flex;
        height: 72px;
        padding: 12px 40px;
        align-items: center;
        border-bottom: 1px solid var(--border);
        justify-content: space-between;

        .title {
            span {
                font-weight: 500;
            }
        }
    }

    .rightSection {
        display: flex;
        gap: 8px;
    }

    .mainSection {
        padding: 40px 40px 40px 40px;
        display: flex;
        gap: 112px;

        .imageContainer {
            display: flex;
            width: 100%;
            justify-content: center;
            margin-top: 80px;

            .potentialSavingsSwitch {
                display: flex;
                flex-direction: column;
                gap: 24px;

                .potentialSavingsSwitchText {
                    .firstTile {
                        position: relative;
                        left: -20px;
                    }

                    .secondTile {
                        position: relative;
                        left: -25px;
                    }
                }
            }
        }

        .newValueSection {
            display: flex;
            gap: 20px;
            flex-direction: column;

            .leftSide {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 28px;

                .topSection {
                    width: 100%;
                    display: flex;
                    gap: 16px;

                    .subContent {
                        width: 33.33%;
                        display: flex;
                        flex-direction: column;

                        .loaderText {
                            display: flex;
                            gap: 8px;
                        }
                    }
                }
            }

            .textSection {
                display: flex;
                gap: 8px;
                margin-top: 16px;
                align-items: baseline;

                .square {
                    width: 12px;
                    height: 12px;
                }
            }

            .rightSide {
                display: flex;
                flex-direction: column;
            }

            [class*='_yLabel'] {
                margin-top: 10px;
            }
        }

        .noDataSection {
            width: 100%;

            .leftSide {
                display: flex;
                flex-direction: column;
                gap: 28px;

                .noDataBanner {
                    width: 100%;
                    height: 92px;
                    background-color: var(--hover-background);
                    padding: 16px 40px;
                    display: flex;
                    gap: 40px;

                    .section {
                        display: flex;
                        flex-direction: column;
                    }
                }

                .topSection {
                    display: flex;
                    gap: 16px;

                    .subContent {
                        display: flex;
                        flex-direction: column;
                        width: max-content;

                        .loaderText {
                            display: flex;
                            gap: 8px;
                        }
                    }
                }
            }
        }

        .valueSection {
            display: flex;
            flex-direction: column;
            gap: 28px;
            max-height: 280px;
            // margin-top: 40px;

            .subContent {
                display: flex;
                flex-direction: column;
                width: max-content;

                .loaderText {
                    display: flex;
                    gap: 8px;
                }
            }
        }

        .chartSection {
            max-height: 306px;
        }

        .newChartSection {
            max-height: 306px;
            width: calc(100% - 40px);
            margin-left: 20px;
        }

        .chartContainer {
            display: flex;
            gap: 56px;
        }
    }
}

// @media screen and (max-width: 1700px) {
//     .potentialSavings {
//         width: 650px;

//         .mainSection {
//             padding: 40px;
//             .topSection {
//                 width: 570px;
//                 padding: 8px 24px;
//                 gap: 24px;

//                 .subContent1 {
//                     width: 231px;
//                 }
//                 .subContent2 {
//                     width: 244px;
//                 }
//             }

//             .newChartSection {
//                 width: 220px;
//             }
//         }
//     }
// }

// @media screen and (min-width: 1920px) {
//     .potentialSavings {
//         width: 41.25%;

//         .mainSection {
//             .newValueSection {
//                 .leftSide {
//                     width: 100%;
//                     .topSection {
//                         width: 100%;
//                         .subContent {
//                             width: 33.33%;
//                         }
//                     }
//                 }

//                 .chartContainer {
//                     .newChartSection {
//                         width: calc(100% - 40px);
//                     }
//                 }
//             }
//         }
//     }
// }
