.potentialSavings {
    background-color: var(--content-background);
    width: 792px;
    height: 432px;
    box-shadow: 2px 2px 6px 0px #e0e0e0;

    .headSection {
        display: flex;
        height: 72px;
        padding: 12px 40px;
        align-items: center;
        border-bottom: 1px solid var(--border);
        justify-content: space-between;

        .title {
            span {
                font-weight: 500;
            }
        }
    }

    .rightSection {
        display: flex;
        gap: 8px;
    }

    // .mainSection {
    //     padding: 40px;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     gap: 28px;

    //     .topSection {
    //         height: 76px;
    //         width: 712px;
    //         background-color: var(--hover-background);
    //         padding: 8px 64px;
    //         display: flex;
    //         gap: 40px;

    //         .subContent1 {
    //             display: flex;
    //             flex-direction: column;
    //             width: 244px;

    //             .loaderText {
    //                 display: flex;
    //                 gap: 8px;
    //             }
    //         }
    //         .subContent2 {
    //             display: flex;
    //             flex-direction: column;
    //             width: 244px;

    //             .loaderText {
    //                 display: flex;
    //                 gap: 8px;
    //             }
    //         }
    //     }
    // }

    .mainSection {
        padding: 40px 40px 40px 40px;
        display: flex;
        gap: 112px;

        .newValueSection {
            display: flex;
            gap: 20px;

            .leftSide {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .topSection {
                    display: flex;
                    gap: 16px;

                    .subContent {
                        display: flex;
                        flex-direction: column;
                        width: 160px;

                        .loaderText {
                            display: flex;
                            gap: 8px;
                        }
                    }
                }
            }

            .textSection {
                display: flex;
                gap: 8px;
                margin-top: -30px;
                align-items: baseline;

                .square {
                    width: 12px;
                    height: 12px;
                }
            }

            .rightSide {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }

            [class*='_yLabel'] {
                margin-top: 10px;
            }
        }

        .valueSection {
            display: flex;
            flex-direction: column;
            gap: 28px;
            max-height: 280px;
            // margin-top: 40px;

            .subContent {
                display: flex;
                flex-direction: column;
                width: 160px;

                .loaderText {
                    display: flex;
                    gap: 8px;
                }
            }
        }

        .chartSection {
            max-height: 306px;
        }
    }
}

@media screen and (max-width: 1700px) {
    .potentialSavings {
        width: 650px;

        .mainSection {
            padding: 40px;
            .topSection {
                width: 570px;
                padding: 8px 24px;
                gap: 24px;

                .subContent1 {
                    width: 231px;
                }
                .subContent2 {
                    width: 244px;
                }
            }
        }
    }
}
