.undetectedHostContent {
    .textFieldContainer {
        display: flex;
        gap: 24px;
        margin-top: 32px;

        .textFieldStyle {
            width: 344px;
            margin-bottom: 0 !important;
        }
    }
}
