.dbOverviewProtection {
    box-shadow: 2px 2px 6px var(--grey-15);
    height: 444px;
    width: 36.112%;
    background-color: var(--content-background);

    .headSection {
        display: flex;
        height: 72px;
        padding: 12px 40px;
        align-items: center;
        border-bottom: 1px solid var(--border);
        justify-content: space-between;
    }

    .title {
        display: flex;
    }

    .mainContainer {
        margin-top: 40px;

        .chartContainer {
            margin-left: 26.04%;
        }

        .protectionSeparator {
            margin-top: 40px;
            margin-left: 40px;
            width: 79.16%;
            border-top: 1px solid var(--border);
        }

        .textSection {
            margin-left: 10.41%;
            margin-top: 16px;
            display: flex;

            .dbHostSeparator {
                background: var(--border);
                width: 1px;
                height: 56px;
                margin: 0 15.32%;
            }
        }
    }
}

.dbOverviewProtectionSmallScreen {
    box-shadow: 2px 2px 6px var(--grey-15);
    height: 332px;
    width: 100%;
    background-color: var(--content-background);

    .headSection {
        display: flex;
        height: 72px;
        padding: 12px 40px;
        align-items: center;
        border-bottom: 1px solid var(--border);
        justify-content: space-between;
    }

    .title {
        display: flex;
    }

    .mainContainer {
        padding: 40px;
        display: flex;
        gap: 40px;
        width: 100%;
        .chartContainer {
        }

        .textAreaSection {
            display: flex;
            flex-direction: column;
            width: 68%;
            gap: 16px;
            justify-content: center;
        }

        .protectionSeparator {
            border-top: 1px solid var(--border);
        }

        .textSection {
            display: flex;

            .dbHostSeparator {
                background: var(--border);
                width: 1px;
                height: 56px;
                margin: 0 15.32%;
            }
        }
    }
}
