.mssqlAccordion {
    margin: 0 auto;
    width: 1336px;

    [class*='isExpanded'] {
        max-height: 2500px !important;
        overflow: hidden;
    }

    .buttonContainer {
        [class*='dsButtonContainer'] {
            div {
                height: 32px !important;
                div {
                    position: relative;
                    top: 2px;
                }
            }
        }
    }
}

.setWidth {
    width: 792px;
}

.fsx-table-column {
    background-color: var(--main-background);
    padding: 2px 16px 0px 24px;
    margin-bottom: 3px;
    min-height: 72px;
    height: 72px;
    align-items: center;
    align-self: stretch;
}
