.mssqlAccordion {
    margin: 0 auto;
    width: 100%;
    max-width: 1336px;

    .buttonContainer {
        [class*='dsButtonContainer'] {
            div {
                height: 32px !important;
                div {
                    position: relative;
                    top: 2px;
                }
            }
        }
    }

    .setFont {
        font-weight: 505 !important;
    }
}

.mssqlAccordionOnPremises {
    max-width: 1607px;
}

.setWidth {
    width: 792px !important;
}

.fsx-table-column {
    background-color: var(--main-background);
    padding: 2px 16px 0px 24px;
    margin-bottom: 3px;
    min-height: 72px;
    height: 72px;
    align-items: center;
    align-self: stretch;
}

@media screen and (max-width: 1500px) {
    .mssqlAccordionOnPremises {
        max-width: 1407px !important;
    }
}

.accordionContentWrapper {
    display: flex;
    flex-direction: column;
    max-height: 2351px;

    .instanceTypography {
        margin-bottom: 6px;
        font-weight: 505 !important;
    }

    .fsxTypography {
        margin-top: 32px;
        margin-bottom: 6px;
        font-weight: 505 !important;
    }
}

.accordionContentWrapperSingle {
    display: flex;
    flex-direction: column;
    max-height: 4000px;
    overflow: hidden;

    .instanceTypography {
        margin-bottom: 6px;
        font-weight: 505 !important;
    }

    .instanceTypographyWithMargin {
        margin-bottom: 6px;
        margin-top: 32px;
        font-weight: 505 !important;
    }

    .fsxTypography {
        margin-top: 32px;
        margin-bottom: 6px;
        font-weight: 505 !important;
    }
}

.headerActionsContainer {
    height: 32px;
}
