.databaseSummary {
    background-color: var(--white);
    width: 1600px;
    height: 100px;
    box-shadow: 2px 2px 6px 0px #bbbbbb80;
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    padding: 22px 0px 22px 0px;

    .card {
        width: 533px;
        display: flex;
        flex-direction: row;
        border-right: 1px solid var(--grey-15);
        padding-left: 40px;

        .dataToShow {
            display: flex;
            flex-direction: column;
            margin-left: 16px;

            .dataValue {
                line-height: 32px;
            }
        }

        .memoryData {
            display: flex;
            flex-direction: row;

            .memoryValue {
                line-height: 32px;
            }

            .memoryUnit {
                line-height: 32px;
                margin: 4px 0 0 4px;
            }
        }
    }

    .lastCard {
        border: none;
        flex-direction: column;
    }
}

@media screen and (max-width: 1700px) {
    .databaseSummary {
        width: 1200px;
    }
}
