.hostDistribution {
    background-color: var(--content-background);
    width: 520px;
    height: 500px;
    box-shadow: 2px 2px 6px 0px #e0e0e0;

    .headSection {
        display: flex;
        height: 72px;
        padding: 12px 40px;
        align-items: center;
        border-bottom: 1px solid var(--border);
        justify-content: space-between;
    }

    .mainSection {
        padding: 40px 40px 64px 40px;
        display: flex;
        flex-direction: column;
        gap: 48px;
        align-items: center;

        .valueArea {
            margin-top: 24px;
            display: flex;
            gap: 0;
            align-items: center;

            .firstBlock {
                max-width: 200px;
            }

            .secondBlock {
                max-width: 200px;
            }

            .thirdBlock {
                max-width: 182px;
            }

            .separator {
                width: 1px;
                height: 56px;
                background-color: var(--border);
                margin-left: 24px;
                margin-right: 24px;
            }
            [class*='_valueText'] {
                font-size: 24px !important;
                line-height: 30px !important;
            }
            [class*='_square'] {
                width: 8px;
                height: 8px;
            }
        }
    }
}

@media screen and (max-width: 1700px) {
    .hostDistribution {
        width: 426px;

        .mainSection {
            .firstBlock {
                max-width: 158px !important;
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    .hostDistribution {
        width: 27.08%;
    }
}
