.headerComponent {
    height: 100%;
    overflow-y: auto;
    background-color: var(--main-background);
    .exploreSavingHeader {
        height: 56px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: var(--content-background);
        padding: 0 40px;
        align-items: center;

        .closeIcon {
            cursor: pointer;
        }
    }
    .extraSpace {
        height: 2px;
        width: auto;
        background-color: var(--main-background);
        position: relative;
        z-index: 2;
        box-shadow: 2px 2px 6px 0px var(--drop-shadow);
    }
    .firstSection {
        height: 56px;
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 8;
        display: flex;
        justify-content: space-between;
        background-color: var(--content-background);

        .withWorkLoad {
            display: flex;
            gap: 80px;
        }

        .firstRow {
            padding: 12px 0 0 40px;
            display: flex;
            gap: 16px;

            .heading {
                line-height: unset !important;
                height: 36px;
            }

            .rightPart {
                display: flex;
                gap: 24px;
                align-items: center;

                .separator {
                    background: var(--text-disabled);
                    width: 1px;
                    height: 28px;
                }

                [class*='Select-module_base'] {
                    div {
                        div {
                            outline: none !important;
                        }
                    }
                }

                [class*='Select-module_base'] {
                    margin-bottom: 0 !important;
                    div {
                        div:hover {
                            outline: none !important;
                        }
                    }
                }

                [class*='design-system-select__control'] {
                    border: none !important;
                    border-bottom: 1px solid var(--field-border) !important;
                    border-radius: 0 !important;
                    height: 30px !important;
                }
                [class*='design-system-select__value-container'] {
                    padding: 2px 0 !important;
                }

                [class*='design-system-select__control--menu-is-open'] {
                    outline: none !important;
                }

                [class*='design-system-select__control']:hover {
                    outline: none !important;
                }

                [class*='design-system-select__menu'] {
                    z-index: 11 !important;
                    width: 336px;
                }
            }
        }

        .secondRow {
            margin-top: 27px;
            padding-left: 48px;
            .overviewTabs {
                display: flex;
                gap: 40px;
                margin-top: -4px;

                .headerPart1 {
                    width: 91px;
                    display: flex;
                    justify-content: center;
                    height: 32px;
                    cursor: pointer;
                    font-weight: 600;
                }

                .headerPart2 {
                    width: 82px;
                    display: flex;
                    justify-content: center;
                    height: 32px;
                    cursor: pointer;
                    font-weight: 600;
                }

                .headerPart3 {
                    width: 121px;
                    display: flex;
                    justify-content: center;
                    height: 32px;
                    cursor: pointer;
                    font-weight: 600;
                }

                .headerPart4 {
                    width: 90px;
                    display: flex;
                    justify-content: center;
                    cursor: pointer;
                    font-weight: 600;
                }

                .headerPart5 {
                    width: 121px;
                    display: flex;
                    justify-content: center;
                    cursor: pointer;
                    font-weight: 600;
                }

                .active {
                    border-bottom: 2px solid var(--text-button-primary);
                    color: var(--text-button-primary);
                    font-weight: 600 !important;
                }

                .activeBlueXPActive {
                    border-bottom: 4px solid var(--text-button-primary);
                }

                .activeBleXP {
                    border-bottom: 4px solid var(--text-button-primary);
                }

                .blueXPHeaderClass {
                    color: var(--text-button-primary);
                    font-weight: 400;
                    font-size: 16px;
                }
            }
        }

        .thirdRow {
            margin-right: 40px;
            margin-top: 16px;

            .menuPopOverHide {
                position: relative;
                top: -26px;

                [class*='menuIcon'] {
                    color: var(--content-background);
                }

                [class*='selected'] {
                    border: none;
                }

                [class*='menuIcon']:hover {
                    border: none;
                }
            }
        }

        .darkThemeThirdRow {
            svg {
                path {
                    fill: #fff;
                }
            }
        }
    }

    .refresh {
        display: flex;
        gap: 16px;

        .refreshIcon {
            cursor: pointer;
            svg {
                --icon-primary-color: var(--button-secondary);
                width: 20px;
                height: 20px;
                margin-top: 5px;
            }
        }

        .date {
            position: relative;
            top: 2px;
        }
    }

    .firstSelect {
        width: 240px;
        --menu-max-height: 200px;

        [class*='design-system-select__single-value'] {
            max-width: 200px !important;
        }

        .regionSelect {
            [class*='design-system-select__single-value--is-disabled'] {
                color: var(--text-disabled) !important;
            }
        }
    }
    .secondSelect {
        width: 240px;
        --menu-max-height: 200px;

        [class*='design-system-select__single-value'] {
            max-width: 200px !important;
        }

        .regionSelect {
            [class*='design-system-select__single-value--is-disabled'] {
                color: var(--text-disabled) !important;
            }
        }
    }

    .selectedTabSection {
        height: 100vh;

        .noCredBanner {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        // overflow-y: auto;
        .dashboardSection {
            background-color: var(--main-background);

            .spaceArea {
                display: flex;
                padding: 40px 0;
                justify-content: center;
                width: 100vw;
            }

            .spaceAreaTemp {
                display: flex;
                padding: 40px 0;
                justify-content: center;
            }

            .contentArea {
                display: flex;
                justify-content: space-between;
                width: 86%;
                max-width: 1607px;
                align-items: center;
                [class*='Select-module_base'] {
                    div {
                        div {
                            outline: none !important;
                        }
                    }
                }

                [class*='Select-module_base'] {
                    margin-bottom: 0 !important;
                    div {
                        div:hover {
                            outline: none !important;
                        }
                    }
                }
            }

            .contentAreaTemp {
                display: flex;
                justify-content: space-between;
                width: 86%;
                max-width: 1607px;
                align-items: center;
                [class*='Select-module_base'] {
                    div {
                        div {
                            outline: none !important;
                        }
                    }
                }

                [class*='Select-module_base'] {
                    margin-bottom: 0 !important;
                    div {
                        div:hover {
                            outline: none !important;
                        }
                    }
                }
            }
        }

        .jobMonitoringSection {
            display: flex;
            padding: 40px 0;
            justify-content: center;
            width: 100%;
            background-color: var(--main-background);

            .contentArea {
                display: flex;
                justify-content: space-between;
                width: 83.95%;
                max-width: 1607px;
                align-items: center;
                [class*='Select-module_base'] {
                    div {
                        div {
                            outline: none !important;
                        }
                    }
                }

                [class*='Select-module_base'] {
                    margin-bottom: 0 !important;
                    div {
                        div:hover {
                            outline: none !important;
                        }
                    }
                }
            }
        }

        .exploreSavingSection {
            display: flex;
            padding: 40px 0;
            justify-content: center;
            width: 100%;
            background-color: var(--main-background);

            .contentArea {
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding: 0 40px;

                align-items: center;
                [class*='Select-module_base'] {
                    div {
                        div {
                            outline: none !important;
                        }
                    }
                }

                [class*='Select-module_base'] {
                    margin-bottom: 0 !important;
                    div {
                        div:hover {
                            outline: none !important;
                        }
                    }
                }
            }
        }

        .sandboxSection {
            display: flex;
            padding: 40px 0;
            justify-content: center;
            width: 100%;
            background-color: var(--main-background);

            .contentArea {
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding: 0 40px;
                align-items: center;
                [class*='Select-module_base'] {
                    div {
                        div {
                            outline: none !important;
                        }
                    }
                }

                [class*='Select-module_base'] {
                    margin-bottom: 0 !important;
                    div {
                        div:hover {
                            outline: none !important;
                        }
                    }
                }
            }
        }

        .inventoryHeaderSection {
            display: flex;
            padding: 40px 0;
            justify-content: center;
            width: 100%;
            background-color: var(--main-background);

            .contentArea {
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding: 0 40px;

                align-items: center;
                [class*='Select-module_base'] {
                    div {
                        div {
                            outline: none !important;
                        }
                    }
                }

                [class*='Select-module_base'] {
                    margin-bottom: 0 !important;
                    div {
                        div:hover {
                            outline: none !important;
                        }
                    }
                }

                .selectContainer {
                    width: 168px;
                    --menu-max-height: 280px;
                }
            }
        }

        .content {
            display: flex;
            gap: 24px;

            .multiSelect {
                [class*='dsTextFieldFrame'] {
                    width: 240px !important;
                }

                [class*='dsDropDownList '] {
                    width: 400px !important;
                }
            }

            button {
                --button-min-width: 160px;
                --button-height: 32px;
                span {
                    text-transform: none !important;
                }
                .buttonStyle {
                    display: flex;
                    align-items: center;
                    gap: 6px;
                }
            }

            [class*='design-system-select__control'] {
                border: none !important;
                border-bottom: 1px solid var(--field-border) !important;
                border-radius: 0 !important;
                height: 30px !important;
                background-color: var(--main-background) !important;
            }
            [class*='design-system-select__value-container'] {
                padding: 2px 0 !important;
            }

            [class*='design-system-select__control--menu-is-open'] {
                outline: none !important;
            }

            [class*='design-system-select__control']:hover {
                outline: none !important;
            }

            [class*='design-system-select__menu'] {
                z-index: 11 !important;
                width: 336px;
            }

            [class*='Select-module_base'] {
                margin-bottom: 0 !important;
                div {
                    div:hover {
                        outline: none !important;
                    }
                }
            }
        }
    }
}

.loader {
    text-align: center;
    padding-top: 40vh;
    height: 100vh;
}

@media screen and (min-width: 1429px) and (max-width: 1700px) {
    .headerComponent {
        .dashboardSection {
            .contentAreaTemp {
                width: 1318px !important;
            }
        }
    }
}

@media screen and (min-width: 1429px) and (max-width: 1818px) {
    .headerComponent {
        .dashboardSection {
            .contentArea {
                width: 81.4% !important;
            }
        }
    }
}

@media screen and (max-width: 1428px) {
    .headerComponent {
        .dashboardSection {
            .contentArea {
                width: 744px !important;
            }

            .contentAreaTemp {
                width: 1318px !important;
            }
        }
    }
}

@media screen and (max-width: 1500px) {
    .headerComponent {
        .jobMonitoringSection {
            .contentArea {
                width: 1124px !important;
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    .headerComponent {
        [class*='dashboardSection'] {
            [class*='spaceAreaTemp'] {
                [class*='contentArea'] {
                    width: 82.5% !important;
                    max-width: unset !important;
                }
            }
        }
        .sandboxSection {
            .contentArea {
                max-width: unset !important;
            }
        }
    }
}
