.codeBox {
    margin-top: 20px;

    .marginFIfteen {
        margin-left: 15px;
    }

    .marginThirty {
        margin-left: 30px;
    }

    .singleArrayItem {
        margin-left: 30px;
    }

    .startArray {
        margin-left: 15px;
    }

    .startFlex {
        display: flex;
        margin-left: 15px;
    }
}
