.cardHeader {
    width: 55.41%;
    min-width: 1064px;
    box-shadow: 2px 2px 6px var(--grey-15);
    background-color: var(--content-background);
    padding: 16px 40px;
    max-width: 100%;
    overflow-x: hidden;
    height: 88px;
    border-bottom: 1px solid var(--border);
    margin: 0 auto;

    .dismissSection {
        width: 274px;
        min-width: 170px;
        .dismissContainer {
            display: flex;
            gap: 8px;
            svg {
                position: relative;
                top: 2px;
            }
        }
    }

    .tooltipContainer {
        display: flex;
        gap: 8px;
        align-items: center;

        .tooltip {
            max-width: 296px;
        }

        .tooltip:hover {
            svg {
                path {
                    fill: var(--tooltip-icon-hover);
                }
            }
        }

        svg {
            position: relative;
            top: 2px;
        }
    }

    .buttonSectionDarkMode {
        [class*='buttonContent'] {
            div {
                color: var(--grey-30) !important;
            }
        }
    }

    .cardContent {
        display: flex;
        align-items: center;
        gap: 24px;
        flex-wrap: nowrap;
        overflow-x: hidden;
    }

    .column {
        flex: 1 1 140px;
        min-width: 0;
        overflow: hidden;
        border-right: 1px solid var(--border);

        .long-text {
            display: flex;
            gap: 8px;
            align-items: baseline;
        }
    }

    .columnWidth {
        flex: 1 1 220px;
    }

    .column.wide {
        flex: 2 1 240px;
    }

    .columnImage {
        flex: unset;
        border-right: none;
    }

    .titleText {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 16px;

        .warningMsg {
            display: flex;
            gap: 8px;
            align-items: center;

            .centerText {
                position: relative;
                top: 4.5px;
            }
        }

        .valueSection {
            margin-left: 8px;
        }
    }
    .statusIcon {
        width: 10px;
        height: 10px;
        align-self: center;
        display: inline-block;
    }

    .circle {
        border-radius: 50%;
        // margin-top: 2px;
    }
    .online {
        background-color: var(--green-60);
    }
    .offline {
        background-color: var(--red-30);
    }
    .unknown {
        background-color: var(--grey-25);
    }
    .overProvisioned {
        display: flex;
        align-items: center;
        overflow: unset;

        [class*='svgSection'] {
            top: 0px;
        }

        .tooltipLevel {
            margin-top: 6px;
        }
    }

    .centerTextContainer {
        display: flex;
        gap: 8px;

        .centerText {
            position: relative;
            top: 4.5px;
        }
    }

    .label {
        margin-top: 4px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.tooltipContainer {
    display: flex;
    align-items: center;
    gap: 8px;

    [class*='Popover-module_base'] {
        max-width: unset !important;
    }
}

.detectInstancetable {
    .extraDiv {
        height: 40px;
        background: var(--content-background);
        margin-top: -40px;
        position: relative;
        z-index: 2;
        position: sticky;
        top: -40px;
    }
}

.instanceReadinessTable {
    margin-top: 40px;
    width: 55.9%;
}

.dialogContainer {
    [class*='DialogLayout-module_header'] {
        color: var(--text-primary) !important;
    }
}
