.totalOptimizationScore {
    box-shadow: 2px 2px 6px var(--grey-15);
    height: 470px;
    width: 32.31%;

    background-color: var(--content-background);

    .headSection {
        display: flex;
        height: 72px;
        padding: 12px 40px;
        align-items: center;
        border-bottom: 1px solid var(--border);
        justify-content: space-between;
    }

    .perfectScore {
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
        margin-top: 80px;

        .text {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .firstBlock {
                display: flex;
                gap: 8px;
                align-items: center;
                margin-left: 12px;
            }

            .secondBlock {
                width: 319px;
            }
        }
    }

    .mainSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        .chartSection {
            padding: 32px 40px 0 40px;
        }

        .tileSection {
            display: flex;
            gap: 24px;

            .separator {
                border-right: 1px solid var(--border);
                height: 48px;
            }

            .tile {
                display: flex;
                flex-direction: column;

                .bottomRow {
                    display: flex;
                    gap: 8px;
                    align-items: center;
                }
            }
        }

        .smallTileSection {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 82.18%;

            .horizontalSeparator {
                border-top: 1px solid var(--border);
                width: 100%;
            }

            .smallTile {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .separator {
                    border-right: 1px solid var(--border);
                    height: 18px;
                }

                .bottomRow {
                    display: flex;
                    gap: 8px;
                    align-items: center;
                }
            }
        }
    }
}

@media screen and (max-width: 1770px) {
    .totalOptimizationScore {
        .mainSection {
            gap: 32px;

            .chartSection {
                padding: 40px 40px 0 40px;
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    .totalOptimizationScore {
        max-width: unset;
    }
}
