.contentHeadingContainer {
    display: flex;
    gap: 50%;
    max-width: 1114px;

    .addNewButton span {
        text-transform: none;
    }
}

.keyValueHeading {
    width: 486px;
    display: flex;
    justify-content: space-between;
    margin: 24px 0 36px;
}

.tagItemContainer {
    display: flex;
    gap: 12px;
    .itemKey {
        width: 396px;
    }
    .itemValue {
        width: 396px;
    }
    .closeButton {
        height: 40px !important;
    }
}
