.dbAccordion {
    .accordionContainer {
        width: 441px;

        background: var(--main-background);

        .accordionHeader {
            padding: 16px 24px 16px 40px;
            display: flex;
            height: 56px;
            flex-direction: column;

            .firstLevel {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .rightMenu {
                    display: flex;
                    align-items: center;
                    gap: 16px;

                    svg {
                        path {
                            fill: var(--text-primary);
                        }
                    }
                }
            }
        }

        .contentBorder {
            border-top: 1px solid var(--border);
        }
    }

    .addBorder:hover {
        background-color: var(--hover-background);
    }
}

.disabledApplied {
    .addBorder:hover {
        background-color: var(--main-background);
    }
    .firstLevel {
        div {
            color: var(--text-disabled);
        }

        svg {
            path {
                fill: var(--text-disabled);
            }
        }
    }
}
