.managedByCategory {
    background-color: var(--content-background);
    width: 928px;
    // height: 621px;

    [class*='dsCard'] {
        box-shadow: unset !important;

        [class*='accordionHeader'] {
            justify-content: left !important;
            div {
                flex: none !important;
            }
        }
    }

    [class*='accordion']:hover {
        background-color: var(--content-background) !important;
    }
    [class*='isExpanded'] {
        max-height: 1000px !important;
    }
    [class*='accordionExpanded'] {
        -webkit-transition: unset !important;
        transition: unset !important;
    }
}

@media screen and (max-width: 1700px) {
    .managedByCategory {
        width: 760px;
    }
}
