.databaseListTable {
    margin-top: -16px;
    width: 100%;
    min-width: 1082px;
    margin-bottom: 80px;

    .firstColText {
        display: flex;
        gap: 8px;
        align-items: center;
        margin-top: 2px;
    }

    .lunsCell {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    .fsxNameContainer {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 12px 0 16px 0;

        .fsxName {
            .fsxNamePopOver {
                justify-content: space-between;
                padding: 8px 0;
            }

            .fsxNameText {
                max-width: 160px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: inline-block;
                vertical-align: bottom;
            }
        }
    }

    .tooltip-icon {
        span:hover {
            svg {
                path {
                    fill: var(--tooltip-icon-hover);
                }
            }
        }
    }

    .tooltipContainer {
        display: flex;
        gap: 8px;
        padding: 12px 0 16px 0;

        span:hover {
            svg {
                path {
                    fill: var(--tooltip-icon-hover);
                }
            }
        }
    }

    .copy-popover {
        display: flex;
        align-items: center;
    }

    .colText {
        display: flex;
        gap: 8px;

        .protection {
            display: flex;
            gap: 17px;
        }
    }

    .naWithTooltip {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    [class*='last-col']:not([class*='header-cell']) {
        position: relative !important;
    }

    .arrowContainer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;

        svg {
            width: 18px;
            height: 18px;
            transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            &.arrow-down {
                transform: rotate(270deg);
                -webkit-transform: rotate(270deg);
            }
        }
    }

    [class*='header-row'] {
        overflow: visible !important;

        [class*='header-cell']:nth-last-child(2) {
            [class*='right-border'] {
                display: none;
            }
        }
    }

    [class*='highlighted-row'] {
        [class*='high-row'] {
            border-bottom: 1px solid var(--content-background) !important;
        }
    }

    [class*='expanded-row-section'] {
        background-color: var(--content-background);
        padding-top: 16px;
    }
}
