.databaseListTable {
    margin-left: 120px;
    margin-top: -16px;
    width: 1607px;
    min-width: 1082px;
    margin-bottom: 80px;

    .statusCell {
        display: flex;
        gap: 16px;
        flex-direction: row;
        align-items: center;
        .statusIcon {
            width: 10px;
            height: 10px;
            border-radius: 5px;
        }
        .onIcon {
            background-color: var(--green-60);
        }
        .offIcon {
            background-color: var(--red-30);
        }
    }

    .colText {
        display: flex;
        gap: 8px;

        .protection {
            display: flex;
            gap: 17px;
        }
    }
}
