.replica {
    position: sticky;
    left: 0;
    padding: 0 40px 40px 40px;

    .replicaTopBar {
        background-color: unset !important;
        box-shadow: unset !important;
    }

    .firstColText {
        display: flex;
        gap: 8px;
        align-items: center;
        margin-top: 2px;
    }

    .lunsCell {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    .colText {
        display: flex;
        gap: 8px;

        .protection {
            display: flex;
            gap: 17px;
        }
    }

    [class*='body'] {
        [class*='cell'] {
            background-color: var(--main-background) !important;
            color: var(--text-primary) !important;
            border-left: none !important;
        }
    }

    [class*='_table'] {
        [class*='_body'] {
            [class*='_row'] {
                > span:nth-last-of-type(2) {
                    border-left: none !important;
                }
            }
        }
    }
}
