.computeInputComponent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    grid-column: 2 / -1;

    .col2,
    .col3,
    .col4 {
        width: 100%;

        [class*='FieldWrapper-module_bottom-margin'] {
            margin-bottom: 0 !important;
        }
        [class*='Select-module_bottom-margin'] {
            margin-bottom: 0 !important;
        }
    }

    .mockInputClone {
        display: flex;
        flex-direction: column;
        gap: 4px;
        width: 100%;
        position: relative;

        .inputField {
            font-family: var(--font-family);
            box-sizing: border-box;
            min-height: 40px;
            height: 40px;
            box-shadow: none;
            background-color: var(--content-background);
            color: var(--text-primary);
            padding: 0 16px;
            padding-top: 10px;
            border: 1px solid var(--field-border);
            outline: none;
            border-radius: 4px;
            width: 100%;
            font-size: 14px;
        }
    }
}
