.recommendationText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    .rssConfig {
        display: flex;
        gap: 16px;
        flex-direction: column;

        .points {
            display: flex;
            gap: 16px;
            align-items: center;
            height: 24px;

            .bullet {
                margin-top: 5px;
            }
        }
    }

    .dashboardHeading {
        display: flex;
        gap: 8px;
        margin-bottom: 12px;
    }

    .values {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .seperator {
        height: 20px;
        border-right: 1px solid var(--border);
        position: relative;
    }

    .info {
        display: flex;
        gap: 8px;
        position: relative;

        .setSVG {
            svg {
                width: 16px;
                height: 16px;
                margin-top: 3px;
                path {
                    fill: #518bec;
                }
            }
        }
    }
}
