.savingsSelection {
    padding: 40px 40px 0 40px;
    display: flex;
    flex-direction: column;

    &.onPremMode {
        padding-top: 0;
    }

    .firstRow {
        display: flex;
        gap: 24px;
        margin-top: 32px;

        .mockInputClone {
            display: flex;
            flex-direction: column;
            gap: 4px;
            width: 412px;
            position: relative;

            .inputField {
                font-family: var(--font-family);
                box-sizing: border-box;
                min-height: 40px;
                height: 40px;
                box-shadow: none;
                background-color: var(--content-background);
                color: var(--text-primary);
                padding: 0 16px;
                padding-top: 10px;
                border: 1px solid var(--field-border);
                outline: none;
                border-radius: 4px;
                width: 100%;
                font-size: 14px;
            }
        }
    }

    .widthSet {
        width: 276px;
    }

    .infoCenter {
        align-items: center;
    }

    .secondRow {
        display: flex;
        gap: 24px;

        .mockInput {
            display: flex;
            flex-direction: column;
            gap: 4px;
            width: 272px;
            position: relative;
            top: -17px;

            .inputField {
                font-family: var(--font-family);
                box-sizing: border-box;
                min-height: 40px;
                height: 40px;
                box-shadow: none;
                background-color: var(--content-background);
                color: var(--text-primary);
                padding: 0 16px;
                padding-top: 10px;
                border: 1px solid var(--field-border);
                outline: none;
                border-radius: 4px;
                width: 100%;
                font-size: 14px;
            }
        }

        .instanceTypeContainer {
            display: flex;
            flex-direction: column;

            .errorContainer {
                display: flex;
                flex-direction: row;
                gap: 4px;
                align-items: center;
                margin: -32px 0 36px 0;

                svg {
                    width: 16px;
                    path {
                        fill: var(--icon-primary);
                    }
                }
            }

            .greyedOutText {
                color: var(--text-disabled);
                font-weight: 400;
            }

            [class*='Popover-module_base'] {
                width: 300px;
            }
        }
    }

    .notice {
        display: flex;
        gap: 6px;
        position: relative;
        left: 9px;

        .setSVG {
            svg {
                width: 21px;
                height: 21px;
                path {
                    fill: #518bec;
                }
            }
        }
        .contentWidth {
            width: 256px;
        }
    }
}

@media screen and (max-width: 1500px) {
    .savingsSelection {
        .notice {
            .setSVG {
                position: relative;
                top: 10px;
            }
            .contentWidth {
                width: 248px;
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    .savingsSelection {
        .widthSet {
            width: 100%;
        }
        .secondRow {
            .instanceTypeContainer {
                width: 100%;
            }
        }
    }
}
