.savingsSelection {
    padding: 40px 40px 0 40px;
    display: flex;
    flex-direction: column;

    .firstRow {
        margin-top: 32px;
    }

    .widthSet {
        width: 276px;
    }

    .secondRow {
        display: flex;
        gap: 24px;
        align-items: center;

        .mockInput {
            display: flex;
            flex-direction: column;
            gap: 4px;
            width: 272px;
            position: relative;
            top: -17px;

            .inputField {
                font-family: var(--font-family);
                box-sizing: border-box;
                min-height: 40px;
                height: 40px;
                box-shadow: none;
                background-color: var(--content-background);
                color: var(--text-primary);
                padding: 0 16px;
                padding-top: 10px;
                border: 1px solid var(--field-border);
                outline: none;
                border-radius: 4px;
                width: 100%;
                font-size: 14px;
            }
        }
    }

    .notice {
        display: flex;
        gap: 6px;
        position: relative;
        left: 9px;

        .setSVG {
            svg {
                width: 21px;
                height: 21px;
                path {
                    fill: #518bec;
                }
            }
        }
        .contentWidth {
            width: 256px;
        }
    }
}
