.load-config {
    max-height: 336px;
    .content {
        color: var(--text-primary);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 171.429% */
    }

    .radioContainer {
        margin-top: 16px;
    }

    .item {
        height: 48px;

        border-bottom: 1px solid var(--grey-15);
        padding: 12px 16px;
    }

    .firstItem {
        border-top: 1px solid var(--grey-15);
    }

    .setRow {
        display: flex;
        flex-direction: row;
    }

    .setRowWithSeperator {
        width: 500px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .item:hover {
        background-color: #f4fbff;
    }

    .radiobutton {
        width: 600px;
    }

    .icon {
        margin-left: 100px;
    }

    .loading {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 1600px) {
    .setRowWithSeperator {
        width: 280px !important;
    }
}
