.chartSection {
    background-color: var(--content-background);
    height: 276px;

    margin-bottom: 24px;
    box-shadow: 2px 2px 6px 0px #e0e0e0;
    padding: 40px 40px 40px 56px;
    display: flex;
    gap: 120px;

    .firstPart {
        display: flex;
        gap: 64px;
    }

    .secondPartSmallRes {
        display: flex;
        flex-direction: column;

        .headSection {
            display: flex;
            justify-content: space-between;
        }

        .heading {
            margin-bottom: 8px;
        }

        .firstBlockSection {
            width: 280px;
            height: 56px;
            border-top: 1px solid var(--border);
            border-bottom: 1px solid var(--border);
            display: flex;
            justify-content: space-between;
            align-items: center;

            .bottomRow {
                display: flex;
                align-items: center;
                gap: 8px;

                .square {
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }

    .secondPart {
        margin-top: 50px;

        .valueArea {
            margin-top: 24px;
            display: flex;
            gap: 0;
            align-items: center;

            .firstBlock {
                max-width: 155px;
            }

            .secondBlock {
                max-width: 200px;
            }

            .thirdBlock {
                max-width: 182px;
            }

            .separator {
                width: 1px;
                height: 56px;
                background-color: var(--border);
                margin-left: 24px;
                margin-right: 24px;
            }
            [class*='_valueText'] {
                font-size: 32px !important;
                line-height: 30px !important;
            }
        }
    }
}

@media screen and (max-width: 1500px) {
    .chartSection {
        height: 240px;
        width: 1128px;
        padding: 40px;
        .firstPart {
            gap: 40px;
        }
    }
}

@media screen and (min-width: 1501px) and (max-width: 1770px) {
    .chartSection {
        height: 239px;
        gap: 92px;

        .secondPart {
            margin-top: 25px;
        }
    }
}
