.codebox {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 56px;
    right: 0;
    width: 33vw;
    height: calc(100% - 56px);
    background-color: var(--grey-70);
    border-left: 1px solid var(--border);

    .colorAutomation {
        color: var(--white) !important;
        margin-top: 0px;
    }

    .awsCli {
        white-space: initial;
    }

    // .newClass {
    //     span {
    //         mark:nth-of-type(1),
    //         mark:nth-of-type(2),
    //         mark:nth-of-type(3) {
    //             color: var(--red-20);
    //         }
    //     }
    // }

    .createDbHeader {
        display: flex;
        flex-direction: row;
        margin: 32px 40px 16px 40px;
        justify-content: space-between;
        align-items: center;

        .createDBText {
            color: var(--white);
        }

        .inputBox {
            width: 146px;

            --menu-max-height: 245px;

            // Select box CSS

            [class*='Select-module_base'] {
                margin-bottom: 0 !important;
            }

            [class*='design-system-select__single-value'] {
                color: var(--white) !important;
            }
            [class*='design-system-select__menu'] {
                box-shadow: none;
                width: 240px;
                right: 1px !important;
            }

            [class*='design-system-select__option'] {
                background-color: var(--grey-70) !important;
                color: var(--white) !important;
            }

            [class*='Select-module_multiselect-menu'] {
                background-color: var(--grey-70) !important;
            }
            [class*='design-system-select__option--is-focused'] {
                color: var(--blue-40) !important;
                background-color: var(--grey-60);
            }
            [class*='design-system-select__control']:hover {
                box-shadow: 0 1px 0 var(--header-netapp-text-hover);
                border-bottom: 2px solid var(--field-border-selected) !important;

                div {
                    color: var(--header-netapp-text-hover);
                }

                svg {
                    --icon-primary-color: var(--field-border-selected) !important;
                }
            }

            [class*='design-system-select__control'] {
                border-bottom: 2px solid var(--field-border) !important;
                svg {
                    --icon-primary-color: var(--field-icon) !important;
                }
            }
        }
    }

    .inputPart {
        display: flex;
        gap: 16px;
        align-items: center;

        .codeboxHeader {
            display: flex;
            gap: 8px;
            align-items: center;
        }
    }

    .cloudFormationButtonContainer {
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--grey-65);
        padding: 0 40px;
        button {
            --button-height: 32px !important;
            background: none !important;
            width: 100%;
            max-width: none;
            color: var(--blue-40);
            border: 1px solid var(--blue-40) !important;
            box-sizing: border-box;

            span {
                text-transform: none !important;
            }
        }

        button:hover {
            color: var(--blue-30) !important;
            border: 1px solid var(--blue-30) !important;
            background-color: var(--grey-60) !important;
        }
    }

    .payloadContainer {
        padding: 0 40px 0 40px;

        .actionPopOver {
            width: 100px;
            display: flex;
            justify-content: flex-end;
            // height: 20px;
            .actions {
                gap: 16px;
                display: flex;
            }

            .menuItemDisabled {
                pointer-events: none;
                svg {
                    path {
                        fill: var(--grey-25);
                    }
                }
            }

            .copy-popover {
                width: 140px;
                font-size: 13px;
                line-height: 20px;
                text-align: center;
                padding: 2px 2px;
                box-shadow: none;
            }

            svg {
                cursor: pointer;
                &:hover {
                    fill: var(--text-primary);
                }
            }
        }

        .payloadHeader {
            height: 48px;
            padding: 16px 24px 16px 40px;
            background-color: var(--grey-55);
            box-shadow: 0px -1px 0px 0px var(--grey-55) inset;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            position: relative;
        }
    }

    ::-webkit-scrollbar {
        width: 4px;
        height: 4px;
        background-color: #858c95;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: #858c95;
        width: 4px;
        height: 4px;
        -webkit-box-shadow: inset 0 0 6px var(--grey-25);
        box-shadow: inset 0 0 6px var(--grey-25);
    }

    ::-webkit-scrollbar-track {
        background-color: var(--grey-65);
    }
    ::-webkit-scrollbar-corner {
        background-color: var(--grey-65);
    }
}

// @media screen and (max-width: 1500px) {
//     .codebox {
//         width: 476px !important;
//     }
// }
