.undetectedHosts {
    margin: 0 120px;
    .table {
        width: 1607px;
        margin-top: -18px;
        margin-bottom: 40px;

        .detectManage {
            width: 192px;
            height: 32px;
            border-radius: 32px;
            border: 1px solid var(--text-button-disabled);
            //cursor: pointer;

            .textStyle {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 2px;
                color: var(--text-button-disabled);
            }
        }

        .detectManage:hover {
            border: 1px solid var(--text-button-disabled);

            .textStyle {
                color: var(--text-button-disabled);
            }
        }

        .statusCol {
            display: flex;
            gap: 16px;
            .statusIcon {
                width: 20px;
                height: 20px;
            }
        }
    }
}

.headerDialog {
    display: flex;
    justify-content: space-between;
}
