.fileSettingsMode {
    .failOver {
        width: 82%;
        .radio {
            margin-top: 16px;
        }
        .failoverText {
            padding-left: 32px;
            margin-bottom: 16px;
        }
    }
}
