.fileSettingsMode {
    .failOver {
        width: 813px;
        .radio {
            margin-top: 16px;
        }
        .failoverText {
            padding-left:32px;
            margin-bottom: 16px;
        }
    }
}
