.dashboard {
    background-color: var(--main-background);
    height: auto;
    display: flex;
    gap: 24px;
    flex-direction: column;
    margin-bottom: 60px;
    .firstSection {
        display: flex;
        gap: 24px;
        justify-content: center;
    }

    .secondSection {
        display: flex;
        gap: 24px;
        justify-content: center;

        .subSection {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
    }

    .fourthLevelContainer {
        margin-bottom: 60px;
        .barContainer {
            display: flex;
            gap: 24px;
            justify-content: center;

            .commonContainer {
                background-color: var(--content-background);
                box-shadow: 2px 2px 6px var(--grey-15);
                height: 272px;
                width: 792px;

                [class*='mainSection'] {
                    padding: 48px 40px;
                }
            }
        }
    }
}

[class*='Dialog-module_dialog'] {
    z-index: 4 !important;
}

@media screen and (max-width: 1700px) {
    .dashboard {
        .fourthLevelContainer {
            .barContainer {
                .commonContainer {
                    width: 650px;

                    [class*='progressBar'] {
                        width: 100% !important;
                    }
                }
            }
        }
    }
}
