.optimize-inner-page {
    height: inherit;
    overflow: auto;
    background-color: var(--main-background);

    .innerPage {
        padding: 0 120px;
        .breadCrump {
            margin-top: 24px;
        }

        .headingSection {
            margin-top: 16px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .mainSection {
            display: flex;
            justify-content: center;
            align-items: stretch;
            margin-top: 24px;
            background-color: var(--content-background);

            .contentSection {
                flex: 1;
                min-width: 0;
            }

            .tagSection {
                flex-shrink: 0;
                width: 300px;
                display: flex;

                > * {
                    flex: 1;
                    height: 100%;
                }
            }

            .leftSection {
                display: flex;
                gap: 1px;
                flex-direction: column;

                .recommendation {
                    background-color: var(--content-background);
                    box-shadow: none;
                    border-top: 1px solid var(--border);
                }
            }
        }

        .tableSection {
            margin-top: 44px;

            .buttonContainer {
                display: flex;
                justify-content: space-between;
                width: 92%;

                [class*='dsButtons'] {
                    border-radius: 20px !important;
                }
            }
        }
    }
}

.cloneTabs {
    margin: 0 auto;
    margin-top: 40px;

    border-bottom: 1px solid var(--grey-30);
    display: flex;
    gap: 4px;

    .headers {
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        padding-bottom: 12px;
    }

    .headerWidthFirst {
        width: 503px;
    }

    .headerWidthSecond {
        width: 419px;
    }

    .headerPart1 {
        color: var(--text-primary);
        display: flex;
        justify-content: center;
        cursor: pointer;
    }

    .headerDisabled {
        color: var(--text-disabled);
        cursor: not-allowed;
    }

    .active {
        border-bottom: 2px solid var(--text-button-primary);
    }

    .activeText {
        color: var(--text-button-primary);
    }
}

.tableSection {
    margin-top: 44px;

    .buttonContainer {
        display: flex;
        justify-content: space-between;
        width: 92%;

        [class*='dsButtons'] {
            border-radius: 20px !important;
        }
    }
}
