.instanceDistribution {
    background-color: var(--content-background);
    width: 520px;
    height: 500px;
    box-shadow: 2px 2px 6px 0px #e0e0e0;

    .headSection {
        display: flex;
        height: 72px;
        padding: 12px 40px;
        align-items: center;
        border-bottom: 1px solid var(--border);
        justify-content: space-between;

        .rightSection {
            display: flex;
            gap: 8px;
        }
    }

    .mainSection {
        padding: 40px;

        .tile {
            display: flex;
            gap: 40px;
            align-items: center;
            margin-bottom: 36px;

            .leftSection {
                display: flex;
                gap: 16px;
                align-items: center;
            }

            .valueSection {
                display: flex;
                flex-direction: column;

                .loadingSection {
                    display: flex;
                    align-items: center;
                    height: 36px;
                }
            }
        }

        .barContainer {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 44px;

            [class*='_bottomTextSection'] {
                margin-top: -4px;
            }
        }
    }
}

@media screen and (max-width: 1700px) {
    .instanceDistribution {
        width: 426px;

        .headSection {
            .rightSection {
                [class*='dsButtons'] {
                    min-width: 140px;
                    width: 140px;
                    padding: 0 8px;
                }
            }
        }

        .mainSection {
            .tile {
                gap: 15px !important;

                .leftSection {
                    svg {
                        width: 56px;
                        height: 56px;
                    }

                    .valueSection {
                        div:first-child {
                            font-size: 24px;
                        }
                    }
                }

                .valueSection {
                    div:first-child {
                        font-size: 24px;
                    }
                }
            }

            [class*='_rightSection'] {
                width: 344px !important;

                [class*='_optimizeText'] {
                    div {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1920px) {
    .instanceDistribution {
        width: 27.08%; 
    }
}
