.availability-zone {
    .selectField {
        width: 31.32%;
    }

    .firstContainer {
        display: flex;
        gap: 24px;
        margin-top: 32px;

        .pgsqlMargin {
            font-size: 14px;
        }
    }

    .subText {
        width: 647px;
    }
}

[class*='AccordionCard-module_loader'] {
    position: relative;
    left: 10%;
}

@media screen and (min-width: 1351px) and (max-width: 1500px) {
    .availability-zone {
        .selectField {
            width: 40%;
        }
    }
}
