.availability-zone {
    .selectField {
        width: 312px;
    }

    .firstContainer {
        display: flex;
        gap: 24px;
        margin-top: 32px;
    }

    .subText {
        width: 647px;
    }
}

[class*='AccordionCard-module_loader'] {
    position: relative;
    left: 10%;
}
