.overviewTabs {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 120px;
    width: 1605px;
    height: 34px;
    border-bottom: 1px solid #a7a7a7;
    display: flex;

    .headerPart1 {
        color: var(--blue-70);
        width: 160px;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }

    .active {
        border-bottom: 1px solid var(--blue-70);
    }

    .headerPart2 {
        color: var(--blue-70);
        width: 191px;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }
}
