.managedBreakdown {
    background-color: var(--content-background);
    width: 655px;
    height: 667px;
    box-shadow: 2px 2px 6px 0px #e0e0e0;

    .headSection {
        display: flex;
        height: 72px;
        padding: 12px 40px;
        align-items: center;
        border-bottom: 1px solid var(--border);
        justify-content: space-between;
    }

    .mainSection {
        max-height: 547px;
        overflow-y: scroll;
        width: calc(100% - 16px);
        margin-top: 24px;
        margin-bottom: 24px;
        .tile {
            width: 620px;
            height: 124px;
            padding: 24px 0 24px 40px;
            display: flex;
            align-items: center;
            gap: 24px;
            border-bottom: 1px solid var(--border);

            [class*='ProgressBar_Suc-progressbar'] {
                height: 8px;
            }

            .buttonContainer {
                display: flex;
                align-items: center;
                gap: 24px;

                .editIcon {
                    cursor: pointer;
                }
            }
        }

        .firstTile {
            padding: 0px 0 24px 40px !important;
            height: 100px;
        }
    }

    ::-webkit-scrollbar {
        width: 4px;
        background-color: #c8c8c8;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: #c8c8c8;
        width: 4px;
        height: 4px;
        -webkit-box-shadow: inset 0 0 6px var(--grey-25);
        box-shadow: inset 0 0 6px var(--grey-25);
    }
}

@media screen and (max-width: 1700px) {
    .managedBreakdown {
        width: 534px;

        .mainSection {
            .tile {
                width: 502px;
            }
            .buttonContainer {
                [class*='dsButton'] {
                    min-width: 116px !important;
                    width: 116px !important;
                }
            }
            [class*='BarComponent_rightSection'] {
                width: 280px !important;
            }
        }
    }
}
