.policyDialog {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .dialog-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .dialog-body {
            min-width: 712px;
            max-height: 390px;
            height: 390px;
            overflow-y: auto;
            position: relative;
            .code-box {
                width: 100%;
                background-color: var(--main-background);
                padding: 24px 16px 8px 32px;
                position: relative;
                display: flex;
                flex-direction: column;

                .code {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;
                    color: var(--text-primary);
                    white-space: pre-wrap;
                    margin-top: -4rem;
                    height: 390px;
                }

                .copy {
                    position: sticky;
                    top: 8px;
                    right: 16px;
                    align-self: flex-end;
                    z-index: 10;
                    padding: 4px;

                    .copy-popover {
                        width: 140px;
                        font-size: 13px;
                        line-height: 20px;
                        text-align: center;
                        padding: 2px 2px;
                    }

                    svg {
                        cursor: pointer;
                        &:hover {
                            fill: var(--text-primary);
                        }
                    }
                }
            }
        }
    }
}
