.jobMonitoring {
    width: 100%;
    height: inherit;
    background-color: var(--main-background);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;

    .jobMenuPopover {
        width: fit-content;
        margin-left: -12px;
    }

    .breadCrumb {
        margin-top: 16px;
        margin-left: 40px;
    }

    .headingContainer {
        display: flex;
        width: 83.95%;
        max-width: 1612px;
        justify-content: space-between;
        margin-top: 40px;

        .jobMonitoringSelectBox {
            position: relative;
            top: -10px;
            [class*='content'] {
                [class*='Select-module_base'] {
                    div {
                        div {
                            outline: none !important;
                        }
                    }
                }

                [class*='Select-module_base'] {
                    margin-bottom: 0 !important;
                    div {
                        div:hover {
                            outline: none !important;
                        }
                    }
                }
            }
        }

        .heading {
            line-height: unset;
        }

        .selectContainer {
            width: 168px;
            --menu-max-height: 280px;
        }

        .rightSegment {
            display: flex;
            gap: 24px;
        }
    }

    .chartContainer {
        display: flex;
        gap: 27px;
        width: 100%;
    }

    .chartSection {
        width: 49.8%;
    }

    .overtimeJobs {
        width: 49.8%;

        height: 344px;
        background-color: var(--content-background);
        box-shadow: 2px 2px 6px var(--grey-15);

        .headSection {
            display: flex;
            height: 72px;
            padding: 12px 40px;
            align-items: center;
            justify-content: space-between;
            flex-shrink: 0;
            border-bottom: 1px solid #e0e0e0;

            .title {
                display: flex;
                gap: 24px;
            }
        }

        .mainSection {
            margin-top: 32px;
            margin-left: 40px;
        }
    }

    .tableSection {
        margin-top: 40px;
        margin-bottom: 96px;
        width: 100%;
        display: flex;
        justify-content: center;
        // width: 1063px;
    }
}

.tempClass {
    padding: 0 120px !important;
}

@media screen and (max-width: 1520px) {
    .jobMonitoring {
        .headingContainer {
            width: 1124px;
        }
    }
}

@media screen and (min-width: 1920px) {
    .jobMonitoring {
        .chartContainer {
            max-width: unset;
        }

        .chartSection {
            max-width: unset;
        }

        .overtimeJobs {
            max-width: unset;
        }
        .tableSection {
            [class*='table'] {
                max-width: unset;
            }
        }
    }
}
