.authenticate-fsx-step {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    align-items: center;
    margin-top: 40px;

    &.govCloud {
        gap: 24px;
        margin-top: 24px;
    }
}
