.dataBaseName {
    [class*='ActionRequired_action'] {
        svg {
            position: relative;
            top: 1px;
        }
    }

    .dbNameField {
        width: 394px;
    }

    [class*='tooltip-base'] {
        padding: 8px 12px !important;
        width: 480px !important;
        max-width: 480px !important;
    }

    .dbNameTooltip {
        flex-direction: column;
        align-items: flex-start;
        gap: 3px;

        .listItem {
            display: flex;
            gap: 16px;
        }

        .textWidth {
            width: 420px;
        }
    }
}
