.timeSelect {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    height: 30px;
    justify-content: flex-start;

    .selectField {
        .multiSelect {
            [class*='textFieldInput'] {
                padding: 2px 12px !important;
                width: 92% !important;
            }
            [class*='dsTextFramePopover'] {
                width: 300px !important;
            }
            [class*='dsDropDownList'] {
                min-width: max-content !important;
            }
            [class*='inputWithActionsContainer'] {
                height: 29px !important;
            }
            [class*='inputTextContainer'] {
                height: 29px !important;
            }
        }
    }
}
