.loader-container {
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.dot {
  height: 6px;
  width: 6px;
  border-radius: 3px;
  background-color: gray;
  border: none;
}

@keyframes blink {
  50% {
    background-color: white;
  }
}
.first-dot {
  animation: 1s blink infinite;
}
.second-dot {
  animation: 1s blink infinite;
  animation-delay: 250ms;
}
.third-dot {
  animation: 1s blink infinite;
  animation-delay: 500ms;
}
