.confirmation-container {
    background: none;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .buttons-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 50px 0 50px;

        .discard-button {
            background-color: white;
            color: #0067c5;
            font-weight: 600;
            border: 1px solid #0067c5;
            border-radius: 5px;
            width: 70px;
            height: 25px;
            cursor: pointer;
        }

        .discard-button:hover {
            background-color: #cce6ff;
        }

        .select-chosen-button {
            background-color: #0067c5;
            color: white;
            font-weight: 600;
            border: none;
            border-radius: 5px;
            width: 70px;
            height: 25px;
            cursor: pointer;
        }
    }
}
