@use '../mixins.scss';
@use '../layout';
@use '../colors.scss';
@use 'sass:math';

.page {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;

    > .breadcrumbs-container {
        position: absolute;
        top: 72px;
        margin-left: 40px;
        z-index: 1;
    }

    &:empty {
        background-color: var(--main-background);
    }
}

.content {
    overflow: auto;
    position: relative;
    flex-grow: 1;
    @include mixins.standard-scroll($width: 11px);

    &:not(.white) {
        background-color: var(--main-background);

        .sticky-container {
            background-color: var(--main-background);
        }
    }

    > .breadcrumbs-container {
        padding-top: 24px;
        padding-left: 40px;
        padding-bottom: 16px;
        position: relative;
        display: flex;
        align-items: center;
    }

    > .breadcrumbs-container + .container {
        padding-top: 0;
    }
}

.wizard-content {
    overflow-x: hidden;
    position: relative;
    flex-grow: 1;
    @include mixins.standard-scroll($width: 11px);

    background-color: var(--main-background);

    > .breadcrumbs-container {
        padding-top: 24px;
        padding-left: 40px;
        padding-bottom: 16px;
        position: relative;
    }

    > .breadcrumbs-container + .container {
        padding-top: 0;
    }
}

.container {
    width: 100%;
    padding: 40px 120px 56px 120px;

    @include mixins.small {
        padding: 40px 88px;
    }
}

.breadcrumbsWidgets {
    margin: 0 120px 0 auto;
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-column-gap: 24px;

    @include mixins.small {
        margin: 0 88px 0 auto;
    }
}

$gutter: 24px;

.code-box-grid .container {
    width: 100%;
    padding: 40px $gutter 56px 120px;

    @include mixins.small {
        padding: 40px $gutter 40px 88px;
    }
}

.rigidGrid {
    display: grid;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

.grid {
    display: flex;
    flex-flow: row wrap;

    margin: 0 math.div($gutter, -2);

    &.center-content {
        justify-content: center;
    }

    .grid-item {
        max-width: 100%;
        flex-shrink: 0;
        width: 100%;

        padding-right: math.div($gutter, 2);
        padding-left: math.div($gutter, 2);

        @for $i from 1 through 12 {
            &.lg-#{$i} {
                flex: 0 0 auto;
                width: (100 - ((12 - $i) * 8.3333)) * 1%;
            }
        }

        @for $i from 1 through 12 {
            @include mixins.medium {
                &.md-#{$i} {
                    flex: 0 0 auto;
                    width: (100 - ((12 - $i) * 8.3333)) * 1%;
                }
            }
        }

        @for $i from 1 through 12 {
            @include mixins.small {
                &.sm-#{$i} {
                    flex: 0 0 auto;
                    width: (100 - ((12 - $i) * 8.3333)) * 1%;
                }
            }
        }
    }
}

.code-box-grid {
    .grid {
        .grid-item {
            @for $i from 1 through 8 {
                &.lg-#{$i} {
                    flex: 0 0 auto;
                    width: (100 - ((8 - $i) * 12.5)) * 1%;
                }
            }

            @for $i from 1 through 8 {
                @include mixins.medium {
                    &.md-#{$i} {
                        flex: 0 0 auto;
                        width: (100 - ((8 - $i) * 12.5)) * 1%;
                    }
                }
            }

            @for $i from 1 through 8 {
                @include mixins.small {
                    &.sm-#{$i} {
                        flex: 0 0 auto;
                        width: (100 - ((8 - $i) * 12.5)) * 1%;
                    }
                }
            }

            .grid .grid-item {
                @for $i from 1 through 12 {
                    &.lg-#{$i} {
                        flex: 0 0 auto;
                        width: (100 - ((12 - $i) * 8.3333)) * 1%;
                    }
                }

                @for $i from 1 through 12 {
                    @include mixins.medium {
                        &.md-#{$i} {
                            flex: 0 0 auto;
                            width: (100 - ((12 - $i) * 8.3333)) * 1%;
                        }
                    }
                }

                @for $i from 1 through 12 {
                    @include mixins.small {
                        &.sm-#{$i} {
                            flex: 0 0 auto;
                            width: (100 - ((12 - $i) * 8.3333)) * 1%;
                        }
                    }
                }
            }
        }
    }
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.code-box-grid {
    display: grid;
    overflow: hidden;
    position: relative;
    flex-grow: 1;
    grid-template-columns: calc(200% / 3) calc(100% / 3);
    grid-template-rows: 100%;

    > div {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;
        overflow: hidden;
    }
}

.fixed-panel {
    position: fixed;
    right: 0;
    bottom: 0;
}

.sticky-container {
    position: sticky;
    top: 0;

    &.with-top-padding {
        padding-top: 40px;
        top: -40px;
    }
}
