.sandboxDate {
    box-shadow: 2px 2px 6px var(--grey-15);
    height: 376px;
    width: 520px;
    min-width: 520px;
    background-color: var(--content-background);

    .headSection {
        display: flex;
        height: 72px;
        padding: 12px 40px;
        align-items: center;
        border-bottom: 1px solid var(--border);
        justify-content: space-between;
    }

    .mainSection {
        padding: 56px 40px 56px 40px;
        display: flex;
        gap: 40px;
    }

    .rightSide {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-top: 8px;

        .individualRow {
            display: flex;
            align-items: center;
            gap: 8px;

            .square {
                width: 12px;
                height: 12px;
            }

            .days {
                width: 80px;
            }

            .separator {
                border-right: 1px solid var(--field-border-disabled);
                height: 18px;
            }
        }
    }
}

@media screen and (max-width: 1500px) {
    .sandboxDate {
        width: 456px;
        min-width: 456px;
    }
}
