.sandboxDate {
    box-shadow: 2px 2px 6px var(--grey-15);
    height: 376px;
    width: 520px;
    background-color: var(--content-background);

    .headSection {
        display: flex;
        height: 72px;
        padding: 12px 40px;
        align-items: center;
        border-bottom: 1px solid var(--border);
        justify-content: space-between;
    }
}

@media screen and (max-width: 1500px) {
    .sandboxDate {
        width: 456px;
    }
}
