.sandboxDate {
    box-shadow: 2px 2px 6px var(--grey-15);
    height: 376px;
    width: 32.31%;

    background-color: var(--content-background);

    .headSection {
        display: flex;
        height: 72px;
        padding: 12px 40px;
        align-items: center;
        border-bottom: 1px solid var(--border);
        justify-content: space-between;
    }

    .mainSection {
        padding: 56px 40px 56px 40px;
        display: flex;
        gap: 40px;
        flex-direction: row;
        align-items: center;
    }

    .rightSide {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-top: 8px;

        .individualRow {
            display: flex;
            align-items: center;
            gap: 8px;

            .square {
                width: 12px;
                height: 12px;
            }

            .days {
                width: 80px;
            }

            .separator {
                border-right: 1px solid var(--field-border-disabled);
                height: 18px;
            }
        }
    }
}

@media screen and (min-width: 1429px) and (max-width: 1800px) {
    .sandboxDate {
        width: 45.8% !important;
        max-width: 1000px;
    }
}

@media screen and (max-width: 1428px) {
    .sandboxDate {
        width: 44%;
    }
}

@media screen and (min-width: 1920px) {
    .sandboxDate {
        max-width: unset;

        .mainSection {
            justify-content: space-around;
        }
    }
}
