.encryption {
    .subText {
        width: 897px;
    }

    .handleRadio {
        display: flex;
        gap: 32px;
        margin-top: 24px;
    }

    .otherAccount {
        margin-top: 24px;
        width: 647px;
    }

    .textField {
        margin-top: 24px;
        width: 562px;
    }
}
