.permissionList {
    width: 55.41%;
    min-width: 1064px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 40px;

    .accordionSection {
    }
}

.logAnalyzer {
    width: 48px;
    height: 48px;
    background-color: var(--purple-03);
    border-radius: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logAnalyzerDisabled {
    background-color: var(--grey-15);
}
