.errorMsg {
    display: flex;
    width: 290px;
    margin-right: 20%;
    min-width: 290px;
    align-items: center;

    .errorMsgText {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .dialogFooterDialog {
        position: relative;
        top: 2px;
        margin-left: 8px;

        [class*='Popover-module_base'] {
            width: 220px;
        }
    }

    .dialogFooterDialog:hover {
        span {
            svg {
                path {
                    fill: var(--tooltip-icon-hover);
                }
            }
        }
    }
}

.errorMsgBulk {
    display: flex;
    margin-right: 56%;
    align-items: center;

    .errorMsgText {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .dialogFooterDialogBulk {
        position: relative;
        top: 2px;
        margin-left: 8px;

        [class*='Popover-module_base'] {
            width: 400px;
        }
    }

    .dialogFooterDialogBulk:hover {
        span {
            svg {
                path {
                    fill: var(--tooltip-icon-hover);
                }
            }
        }
    }
}

.innerPageClass {
    height: 73vh !important;
}

.oneTimeWADDialog {
    [class*='DialogLayout-module_dialog-content'] {
        overflow-x: hidden !important;
    }
}

[class*='DialogLayout-module_header'] {
    color: var(--text-primary) !important;
}

.errorIcon {
    height: 20px;
    margin-right: 8px;
}
