.inventoryTable {
    display: flex;
    justify-content: center;
    // gap: 24px;
    width: 100%;
    // max-width: 1607px;
    margin-top: 16px;

    .buttonContainer {
        display: flex;
        justify-content: space-between;
        width: 92%;

        [class*='dsButtons'] {
            border-radius: 20px !important;
            width: 150px;
            padding: 0 !important;
        }
    }

    .menuPointerDisabled {
        font-weight: 600;
        font-size: 22px;
        width: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 9px;
        height: 16px;
        color: var(--text-disabled);

        .menuPointer {
            height: 40px;
        }
    }

    .inProgress {
        display: flex;
        gap: 16px;
        align-items: center;
    }

    .fsxNameContainer {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 12px 0 16px 0;

        .fsxName {
            .fsxNamePopOver {
                justify-content: space-between;
                padding: 8px 0px !important;
            }

            .fsxNameText {
                max-width: 160px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: inline-block;
                vertical-align: bottom;
            }
        }
    }

    .databaseSize {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 12px 0 16px 0;
    }

    .tooltipContainer {
        display: flex;
        gap: 8px;
        padding: 12px 0 16px 0;

        span:hover {
            svg {
                path {
                    fill: var(--tooltip-icon-hover);
                }
            }
        }
    }

    .ec2Separator {
        border-bottom: 1px solid var(--border);
    }

    .topBarStyle {
        z-index: 4 !important;
        top: 56px !important;
    }

    .jobMenuPopover {
        width: fit-content;
        margin-left: -12px;
    }

    .table {
        width: 100%;
        margin-top: -18px;
        margin-bottom: 96px;
    }

    .leftBorder {
        [class*='_table'] {
            [class*='_body'] {
                [class*='_row'] {
                    [class*='_cell'] {
                        &:nth-last-child(2) {
                            border-left: 1px solid var(--border) !important;
                        }
                    }
                }
            }
        }
    }

    .hostTable {
        [class*='_header-row'] {
            top: 137px !important;
        }
    }

    .tableScroll {
        [class*='Table-module_row'] {
            [class*='Table-module_cell']:first-child {
                box-shadow: 2px 2px 6px 0px var(--border);
            }
        }
    }

    .statusCol {
        display: flex;
        gap: 8px;
        align-items: center;
    }

    .naContainer {
        display: flex;
        gap: 16px;
        align-items: center;

        .tooltipContent {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }

        svg {
            position: relative;
            top: 2px;
        }
    }

    .firstColumnClass {
        min-width: 0;
        overflow: hidden;
    }
    .textClass {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .firstColText {
        display: flex;
        gap: 8px;
        align-items: center;

        .ssmOffline {
            margin-left: 24px;
            position: relative;
            top: 2px;
        }

        .statusIcon {
            width: 10px;
            height: 10px;
            align-self: center;
            &.circle {
                border-radius: 50%;
                // margin-top: 2px;
            }
            &.online {
                background-color: var(--green-60);
            }
            &.offline {
                background-color: var(--red-30);
            }
            &.unknown {
                background-color: var(--grey-25);
            }
        }
    }

    .ec2Container {
        display: flex;
        gap: 16px;
        align-items: center;

        svg {
            position: relative;
            top: 2px;
        }

        .ssmOffline {
            [class*='Popover-module_base'] {
                max-width: unset !important;
            }
        }
    }

    .ssmOffline:hover {
        span:first-child {
            svg {
                path {
                    fill: var(--tooltip-icon-hover);
                }
            }
        }
    }

    .colText {
        // display: flex;
        gap: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 220px;
    }

    .colTextProtection {
        display: flex;
        gap: 8px;

        .protection {
            display: flex;
            gap: 17px;
        }
    }

    .cost {
        display: flex;
        gap: 16px;

        .tooltipClass {
            [class*='TooltipInfo-module_tooltip-base'] {
                max-width: 462px !important;
                padding: 16px 24px;
                box-shadow: 2px 2px 6px 0px var(--border);
            }
        }
    }

    .statusIcon {
        width: 10px;
        height: 10px;
        align-self: center;
        &.circle {
            border-radius: 50%;
            // margin-top: 2px;
        }
        &.online {
            background-color: var(--green-60);
        }
        &.offline {
            background-color: var(--red-30);
        }
        &.unknown {
            background-color: var(--grey-25);
        }
    }

    .detectManageDisable {
        width: 140px;
        height: 32px;
        border-radius: 32px;
        border: 1px solid var(--text-button-disabled);
        margin-left: -12px;

        .textStyle {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2px;
            color: var(--text-button-disabled);
        }
    }

    .detectManage {
        width: 140px;
        height: 32px;
        border-radius: 32px;
        border: 1px solid var(--text-button-primary);
        margin-left: -12px;
        cursor: pointer;

        .textStyle {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2px;
            color: var(--text-button-primary);
        }

        .loading {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            margin-top: 5px;
            margin-left: 46%;
        }
    }

    // [class*='Table-module_scroll'] {
    //     width: 2248px !important;
    // }

    [class*='Table-module_highlighted-row'] {
        [class*='Table-module_high-row'] {
            // background-color: transparent !important;
            border-bottom: 1px solid var(--content-background) !important;
        }
    }

    [class*='Table-module_header-row'] {
        top: 122px !important;
        [class*='Table-module_header-cell'] {
            &:nth-child(5) {
                [class*='Table-module_right-border'] {
                    pointer-events: none;
                }
            }
        }
    }

    [class*='Table-module_horizontal-scroll'] {
        height: 20px !important;
    }

    [class*='Table-module_horizontal-scroll']::-webkit-scrollbar {
        height: 14px !important;
    }

    .protectionTooltipMessage {
        padding: 16px 24px;
        box-shadow: 2px 2px 6px 0px var(--border);
    }
}

.notification {
    font-weight: 400;
    .bold {
        font-weight: 540;
    }
}

.ssmLink {
    span {
        text-transform: none !important;
    }
}

[class*='Popover-module_base'] {
    max-width: 300px !important;
}
