.manage-instance-wizard {
    [class^='WizardLayout-module_left'] {
        padding-left: 40px;
    }
    [class^='WizardLayout-module_right'] {
        padding-right: 40px;
    }
    [class^='WizardSteps-module_base-wrapper'] [class^='WizardSteps-module_base'] {
        max-width: 850px !important;

        [class^='WizardSteps-module_steps'] {
            column-gap: 20px !important;
        }
    }
}

[class*='Header-module_left'] {
    padding-left: 40px !important;
}

.loaderOverlay {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 70%;
    background-color: var(--text-primary);
    z-index: 3;
}

.spinnerPlacement {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
}
