.errorCountChart {
    width: 100%;
    position: relative;
    height: 40px;

    .bar {
        height: 16px;
        opacity: 0.2;
        background: var(--chart-6);
        border-radius: 20px;
    }

    .markerWrapper {
        position: absolute;
        top: 0;
        pointer-events: auto;
    }

    .marker {
        width: 4px;
        height: 16px;
        background: var(--chart-6);
        border-radius: 2px;
        z-index: 2;
        cursor: pointer;
    }

    .intervalBoundary {
        border: 1.5px solid var(--chart-6);
        position: absolute;
        top: 0;
        height: 16px;
    }

    .labels {
        position: absolute;
        top: 20px;
        left: 0;
        width: 100%;
    }

    .label {
        position: absolute;
    }
}
