.aws-settings {
    .header-buttons {
        display: flex;
        justify-content: space-between;
    }
    .adjustMargin {
        margin-top: 32px;
    }

    .buttonClass {
        span {
            text-transform: none;
        }
    }
}
