.filesSize {
    margin-bottom: 40px;

    .textSection {
        margin-top: 16px;
        margin-bottom: 32px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        .firstSection {
            gap: 16px;
        }
    }

    .dataSizeRow {
        display: flex;
        gap: 24px;
    }

    .dataSizeField {
        display: flex;

        .textFieldNewUSer {
            width: 200px;

            [class*='TextField-module_base-input'] {
                border-top-right-radius: 0px !important;
                border-bottom-right-radius: 0px !important;
            }
        }

        [class*='FieldErrorWarning-module_base'] {
            width: 300px !important;
        }

        .selectField {
            width: 110px;

            [class*='Select-module_error-warning'] {
                display: none;
            }

            [class*='Select-module_select-top'] {
                label {
                    visibility: hidden;
                }
            }

            [class*='design-system-select__control'] {
                border-left: none !important;
                border-top-left-radius: 0px !important;
                border-bottom-left-radius: 0px !important;
            }

            [class*='design-system-select__value-container'] {
                padding: 2px 0 2px 46px !important;
            }
        }
    }

    .dataSizeTooltip {
        width: 300px;
        .bold {
            font-weight: 540;
        }
    }
}
